{% load staticfiles %}
<!--<!DOCTYPE html>-->
<html lang="en">
<head>
  <title>Speedo Car Wash</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{#    <link rel="stylesheet" href="{% static 'nav/css/reset.css'%}"> <!-- CSS reset -->#}
{#	<link rel="stylesheet" href="{% static 'nav/css/style.css'%}"> <!-- Resource style -->#}
{#	<script src="{% static 'nav/js/modernizr.js' %}"></script> <!-- Modernizr -->#}

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

    <link rel="stylesheet" href="{% static 'css/css.css' %}">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>


  <script src="{% static 'js/print.js' %}"></script>

  <script type="text/javascript">
    var main_url = 'http://127.0.0.1:8000';
  </script>
</head>
<body>

{#{% include 'topbar_final.html' %}#}
{#{% include 'side_navbar.html' %}#}
{#<main class="cd-main-content">#}
{#{% include 'sidebar_final.html' %}#}
{#<div class="container content-wrapper">#}
{#<br><br>#}
{#  {% block content %}#}
{##}
{#  {% endblock content %}#}
{#</div>#}
{#</main>#}



{% include 'navbar.html' %}
<div class="container">
  {% block content %}

  {% endblock content %}
</div>

{#<script src="{% static 'nav/js/jquery.menu-aim.js' %}"></script>#}
{#<script src="{% static 'nav/js/main.js' %}"></script> <!-- Resource jQuery -->#}
</body>
</html>

