{% extends "base.html" %}

{% block content %}
<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>
<div class="container">
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <center><h1>Vehicle Detail</h1></center>
        <div class="media">
            <a class="pull-left" href='{% url "car:update" id=car.id %}'>
                <img class="media-object dp2 img-circle" src="http://www.worldvision.org/sites/default/files/images/sector/icons/education-white@2x.png" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ car.model_code }} <small> {{ car.category }}</small></h4>
                <h5>Owner : {{ car.car_owner.full_name }}</h5>
                <h5>Detail : {{ car.others_detail }}</h5>
                <h5>Visit Count : {{ car.visit_count }}</h5>
                <h5>Created @ : {{ car.timestamp }}</h5>
                <a  href='{% url "car:list" %}'><blink>Back To List</blink></a>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function goBack() {
    window.history.back();
    }
  </script>
{% endblock content %}