{% extends "base.html" %}

{% block content %}


<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">
                <input type="text" name="query" placeholder="Search Vehicle" class="form-control" vaue="{{ request.GET.query }}"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>

</div>

<div class="container table-responsive">
    <h2>Vehicle List <span class="badge">{{ car_count }}</span><a type="button" class="btn btn-primary btn-sm pull-right" href='{% url "car:create" %}'>Create New One</a></h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Model</th>
            <th>Owner</th>
            <th>Created @</th>
            <th>View</th>
             {% if perms.cars.change_car %}
            <th>Edit</th>
            {% endif %}
            {% if perms.cars.delete_car %}
            <th>Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for car in car_list %}
        <tr>
            <td>{{ car.model_code }}</td>
            <td><a href="{{car.car_owner.get_absolute_url}}">{{ car.car_owner.full_name }}</a></td>
            <td>{{ car.timestamp }}</td>
            <td><a type="button" class="btn btn-info btn-xs" href="{{car.get_absolute_url}}">View</a></td>
            {% if perms.cars.change_car %}
            <td><a type="button" class="btn btn-warning btn-xs" href='{% url "car:update" id=car.id %}'>Edit</a></td>
            {% endif %}
            {% if perms.cars.delete_car %}
            <td><a type="button" class="btn btn-danger btn-xs" href='{% url "car:delete" id=car.id %}' data-confirm="true">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<center>

    {% if car_list.has_other_pages %}
    <ul class="pagination">
        {% if car_list.has_previous %}
        <li> <a href="?page={{ car_list.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in car_list.paginator.page_range %}
        {% if car_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if car_list.has_next %}
        <li>
            <a href="?page={{ car_list.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

</center>

<script type="text/javascript">
    $('*[data-confirm="true"]').on('click', function() {
        return confirm("Are you sure?");
    });
</script>


{% endblock content %}