{% extends "base.html" %}

{% block content %}
<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>

<div class="container">
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <center><h1>Customer Detail</h1></center>
        <div class="media">
            <a class="pull-left" href='{% url "customer:update" id=customer.id %}'>
                <img class="media-object dp img-circle" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-3/256/Edit-Male-User-icon.png" style="width: 100px;height:100px;">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ customer.full_name }} <small> {{ customer.city }}</small></h4>
                <h5>Detail : {{ customer.others_detail }}</h5>
                <hr style="margin:8px auto">

                <span class="label label-primary"><i class="fa fa-mobile" aria-hidden="true"></i> {{ customer.phone_number }}</span>
                <span class="label label-default">{{ customer.timestamp }}</span>
                <a  href='{% url "customer:list" %}'><blink>Back To List</blink></a>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function goBack() {
    window.history.back();
    }
  </script>
{% endblock content %}