{% extends "base.html" %}

{% block content %}


<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">
                <input type="text" name="query" placeholder="Search Discount" class="form-control" vaue="{{ request.GET.query }}"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>

</div>

<div class="container table-responsive">
    <h2>{{ title }} <span class="badge">{{ discounts_count }}</span><a type="button" class="btn btn-primary btn-sm pull-right" href='{% url "discounts:discounts_create" %}'>Create New One</a></h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Visit Count</th>
            <th>Percent Off (%)</th>
            <th>Activation</th>
            <th>Created @</th>
             {% if perms.discounts.change_discount %}
            <th>Edit</th>
            {% endif %}
            {% if perms.discounts.delete_discount %}
            <th>Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for discount in discounts_list %}
        <tr>
            <td>{{ discount.visit_count }}</td>
            <td>{{ discount.discount_percentage }} %</td>
            <td>{% if discount.activate == True %}activate{% else %}inactive{% endif %}</td>
            <td>{{ discount.timestamp }}</td>
           {% if perms.discounts.change_discount %}
            <td><a type="button" class="btn btn-warning btn-xs" href='{% url "discounts:discounts_update" id=discount.id %}'>Edit</a></td>
            {% endif %}
            {% if perms.discounts.delete_discount %}
            <td><a type="button" class="btn btn-danger btn-xs" href='{% url "discounts:discounts_delete" id=discount.id %}' data-confirm="true">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<center>

    {% if discounts_list.has_other_pages %}
    <ul class="pagination">
        {% if discounts_list.has_previous %}
        <li> <a href="?page={{ discounts_list.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in discounts_list.paginator.page_range %}
        {% if discounts_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if discounts_list.has_next %}
        <li>
            <a href="?page={{ discounts_list.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

</center>

<script type="text/javascript">
    $('*[data-confirm="true"]').on('click', function() {
        return confirm("Are you sure?");
    });
</script>


{% endblock content %}