{% extends "base.html" %}

{% block content %}



<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">
                <input type="text" name="query" placeholder="Search Employee" class="form-control" vaue="{{ request.GET.query }}"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>

</div>

<div class="container table-responsive">
    <h2>Employee List <span class="badge">{{ employee_list|length }}</span><a type="button" class="btn btn-primary btn-sm pull-right" href='{% url "employee:create" %}'>Create New One</a></h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Phone #</th>
            <th>Created @</th>
            <th>View</th>
             {% if perms.employee.change_employee %}
            <th>Edit</th>
            {% endif %}
            {% if perms.employee.delete_employee %}
            <th>Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
       {% for employee in employee_list %}
        <tr>
            <td>{{ employee.full_name }}</td>
            <td>{{ employee.phone_number }} </td>
            <td>{{ employee.timestamp }}</td>
            <td><a type="button" class="btn btn-info btn-xs" href="{{employee.get_absolute_url}}">View</a></td>
            {% if perms.employee.change_employee %}
            <td><a type="button" class="btn btn-warning btn-xs" href='{% url "employee:update" id=employee.id %}'>Edit</a></td>
            {% endif %}
            {% if perms.employee.delete_employee %}
            <td><a type="button" class="btn btn-danger btn-xs" href='{% url "employee:delete" id=employee.id %}' data-confirm="true">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<center>

    {% if employee_list.has_other_pages %}
    <ul class="pagination">
        {% if employee_list.has_previous %}
        <li> <a href="?page={{ employee_list.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in employee_list.paginator.page_range %}
        {% if employee_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if employee_list.has_next %}
        <li>
            <a href="?page={{ employee_list.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

</center>

<script type="text/javascript">
    $('*[data-confirm="true"]').on('click', function() {
        return confirm("Are you sure?");
    });
</script>

{% endblock content %}