{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>
<center><h1>{{ title }}</h1></center>
<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-primary" value="{{ title }}" />
</form>
<script type="text/javascript">
    function goBack() {
    window.history.back();
    }
  </script>
{% endblock content %}