{% extends "base.html" %}

{% block content %}


<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">
                <input type="text" name="query" placeholder="Search Expense Category" class="form-control" vaue="{{ request.GET.query }}"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>

</div>

<div class="container table-responsive">
    <h2>{{ title }} <span class="badge">{{ expense_category_count }}</span><a type="button" class="btn btn-primary btn-sm pull-right" href='{% url "expense:create" %}'>Create New One</a></h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Created @</th>
{#            <th>View</th>#}
             {% if perms.expense.change_expensecategory %}
            <th>Edit</th>
            {% endif %}
            {% if perms.expense.delete_expensecategory %}
            <th>Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for expense_category in expense_category_list %}
        <tr>
            <td>{{ expense_category.name }}</td>
            <td>{{ expense_category.description }}</td>
            <td>{{ expense_category.timestamp }}</td>
{#            <td><a type="button" class="btn btn-info btn-xs" href="{{expense_category.get_absolute_url}}">View</a></td>#}
           {% if perms.expense.change_expensecategory %}
            <td><a type="button" class="btn btn-warning btn-xs" href='{% url "expense:update" id=expense_category.id %}'>Edit</a></td>
            {% endif %}
            {% if perms.expense.delete_expensecategory %}
            <td><a type="button" class="btn btn-danger btn-xs" href='{% url "expense:delete" id=expense_category.id %}' data-confirm="true">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<center>

    {% if expense_category_list.has_other_pages %}
    <ul class="pagination">
        {% if expense_category_list.has_previous %}
        <li> <a href="?page={{ expense_category_list.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in expense_category_list.paginator.page_range %}
        {% if expense_category_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if expense_category_list.has_next %}
        <li>
            <a href="?page={{ expense_category_list.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

</center>

<script type="text/javascript">
    $('*[data-confirm="true"]').on('click', function() {
        return confirm("Are you sure?");
    });
</script>


{% endblock content %}