{% extends "base.html" %}

{% block content %}


<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>
    {{ expense_category.name }}<br>
    {{ expense_category.description }}


{#<div class="container">#}
{#    <div class="row">#}
{#    <div class="col-sm-6 col-sm-offset-3">#}
{#        <center><h1custom>{{ title }}</h1custom></center>#}
{#        <div class="media">#}
{#            <a class="pull-left" href='{% url "employee:update" id=employee.id %}'>#}
{#                <img class="media-object dp img-circle" src="http://icons.iconarchive.com/icons/custom-icon-design/pretty-office-3/256/Edit-Male-User-icon.png" style="width: 100px;height:100px;">#}
{#            </a>#}
{#            <div class="media-body">#}
{#                <h4 class="media-heading">{{ .name }} <small> {{ employee.city }}</small></h4>#}
{#                <h5>Address : {{ employee.address }}</h5>#}
{#                <h5>Salary : {{ employee.salary }}</h5>#}
{#                <h5>CNIC # : {{ employee.cnic_no}}</h5>#}
{#                <hr style="margin:8px auto">#}
{##}
{#                <span class="label label-primary"><i class="fa fa-mobile" aria-hidden="true"></i> {{ employee.phone_number }}</span>#}
{#                <span class="label label-default">j{{ employee.timestamp }}</span>#}
{#                <a  href='{% url "employee:list" %}'><blink>Back To List</blink></a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#</div>#}
<script type="text/javascript">
    function goBack() {
    window.history.back();
    }
  </script>
{% endblock content %}