{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <center><h1>Facility Detail</h1></center>
            <div class="media">
                {% if  facility.image %}
                <a class="pull-right" href='{{ facility.image.url }}' target="_blank">

                    <img class="media-object img-thumbnail img-responsive" src="{{ facility.image.url }}" style="width: 200px;">

                </a>
                {% endif %}
                <div class="media-body">
                    <h4 class="media-heading"><strong>{{ facility.name }} </strong><small> {{ facility.description}}</small></h4>
                    <u>Sub Facilities:</u>

                    {% for sub_facility in sub_facilities_list %}
                    <li>{{sub_facility}}

                        <a href='{% url "facility:subFac_update" id=sub_facility.id %}'><span class="glyphicon glyphicon-edit"></span></a>
                        <a href='{% url "facility:delete_subFac" id=sub_facility.id %}' data-confirm="true"><span class="glyphicon glyphicon-remove"></a>
                    </li>
                    {% endfor %}
                    <hr style="margin:8px auto">
                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#subficilityModal">+ Sub Facility</button>
                    <a type="button" class="btn btn-primary btn-xs" href='{% url "facility:update" id=facility.id %}'>Edit Facility</a>
                    <a  href='{% url "facility:list" %}'><blink>Back To List</blink></a>
                </div>
            </div>
        </div>
    </div>
</div>



<!--sub_ficility form model-->
<!-- Trigger the modal with a button -->
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#subficilityModal">Open Large Modal</button>-->

<!-- Modal -->
<div class="modal fade" id="subficilityModal" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sub Facility</h4>
            </div>
            <div class="modal-body">
                <form id="subficility_form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                    {{ sub_ficility_form|crispy }}
                    <input type="submit" class="btn btn-primary" value="create sub-ficility"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    function goBack() {
        window.history.back();
    }
    $('#id_facility').val('{{facility_id}}').trigger('change');
    $('#id_facility').hide();
    $('#id_facility, label[for="id_facility"], input#id_facility').hide();
    category_prices_hide();

    $('#id_category_wise').change(function() {
        if($(this).is(":checked")) {
            $('#id_price').hide();
            $('#id_price, label[for="id_price"], input#id_price').hide();
            category_prices_show();

        }else{
            console.log("ni hai ");
            $('#id_price').show();
            $('#id_price, label[for="id_price"], input#id_price').show();
            category_prices_hide();
        }
    });

    $(document).ready(function () {
        // create subfields through ajax call
        $('#subficility_form').submit(function () { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize() + '&action=subficility_form', // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function (response) { // on success..
                    $('#subficilityModal').modal('hide');
                    console.log(response)
                    location.reload();
                },
                error: function (e, x, r) { // on error..
                }
            });
            return false;
        });
    });

    function category_prices_show() {
        $('#id_small_vehicle_price,#id_medium_vehicle_price,#id_large_vehicle_price,#id_bike_vehicle_price').show();
        $('#id_small_vehicle_price, label[for="id_small_vehicle_price"], input#id_small_vehicle_price').show();
        $('#id_medium_vehicle_price, label[for="id_medium_vehicle_price"], input#id_medium_vehicle_price').show();
        $('#id_large_vehicle_price, label[for="id_large_vehicle_price"], input#id_large_vehicle_price').show();
        $('#id_bike_vehicle_price, label[for="id_bike_vehicle_price"], input#id_bike_vehicle_price').show();
    }
    function category_prices_hide() {
        $('#id_small_vehicle_price,#id_medium_vehicle_price,#id_large_vehicle_price,#id_bike_vehicle_price').hide();
        $('#id_small_vehicle_price, label[for="id_small_vehicle_price"], input#id_small_vehicle_price').hide();
        $('#id_medium_vehicle_price, label[for="id_medium_vehicle_price"], input#id_medium_vehicle_price').hide();
        $('#id_large_vehicle_price, label[for="id_large_vehicle_price"], input#id_large_vehicle_price').hide();
        $('#id_bike_vehicle_price, label[for="id_bike_vehicle_price"], input#id_bike_vehicle_price').hide();
    }

    $('*[data-confirm="true"]').on('click', function() {
        return confirm("Are you sure?");
    });

</script>
{% endblock content %}