{% extends "base.html" %}

{% block content %}


<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">
                <input type="text" name="query" placeholder="Search Facility" class="form-control" vaue="{{ request.GET.query }}"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>

</div>

<div class="container table-responsive">
    <h2>Facility List <span class="badge">{{ facility_count }}</span><a type="button" class="btn btn-primary btn-sm pull-right" href='{% url "facility:create" %}'>Create New One</a></h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Facility Name</th>
            <th>Description</th>
            <th>Created @</th>
            <th>View</th>
            {% if perms.facilities.change_facilitie %}
            <th>Edit</th>
            {% endif %}
            {% if perms.facilities.delete_facilitie %}
            <th>Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for facility in facility_list %}
        <tr>
            <td>{{ facility.name }}</td>
            <td>{{ facility.description }} </td>
            <td>{{ facility.timestamp }}</td>
            <td><a type="button" class="btn btn-info btn-xs" href="{{facility.get_absolute_url}}">View</a></td>
            {% if perms.facilities.change_facilitie %}
            <td><a type="button" class="btn btn-warning btn-xs" href='{% url "facility:update" id=facility.id %}'>Edit</a></td>
             {% endif %}
            {% if perms.facilities.delete_facilitie %}
            <td><a type="button" class="btn btn-danger btn-xs" href='{% url "facility:delete" id=facility.id %}' data-confirm="true">Delete</a></td>
             {% endif %}

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<center>

    {% if facility_list.has_other_pages %}
    <ul class="pagination">
        {% if facility_list.has_previous %}
        <li> <a href="?page={{ facility_list.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in facility_list.paginator.page_range %}
        {% if facility_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if facility_list.has_next %}
        <li>
            <a href="?page={{ facility_list.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

</center>

<script type="text/javascript">
    $('*[data-confirm="true"]').on('click', function() {
        return confirm("Are you sure?");
    });
</script>

{% endblock content %}