{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">
                <input type="text" name="query" placeholder="Search Template" class="form-control" vaue="{{ request.GET.query }}"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>

</div>

<div class="container table-responsive">
    <h2>Template List <span class="badge">{{ templates_count }}</span><a type="button" class="btn btn-primary btn-sm pull-right" href='{% url "messages:quick_message_templates_create" %}'>Create New One</a></h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Message</th>
            <th>Created @</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for template in templates_list %}
        <tr>
            <td>{{ template.template_name }}</td>
            <td>{{ template.message|truncatechars:12 }} </td>
            <td>{{ template.timestamp }}</td>
            <td><a type="button" class="btn btn-warning btn-xs" href='{% url "messages:quick_message_templates_update" id=template.id %}'>Edit</a></td>
            <td><a type="button" class="btn btn-danger btn-xs" href='{% url "messages:quick_message_templates_delete" id=template.id %}' data-confirm="true">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<center>

    {% if templates_list.has_other_pages %}
    <ul class="pagination">
        {% if templates_list.has_previous %}
        <li> <a href="?page={{ templates_list.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in templates_list.paginator.page_range %}
        {% if templates_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if templates_list.has_next %}
        <li>
            <a href="?page={{ templates_list.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

</center>

<script type="text/javascript">
    $('*[data-confirm="true"]').on('click', function() {
        return confirm("Are you sure?");
    });
</script>

{% endblock content %}