<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='{% url "order:create" %}'>Speedo Car Wash</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      {% if request.user.is_authenticated %}
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Home</a></li>-->
        {% if perms.customers.add_customer %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "customer:create" %}'>Create Customer</a></li>
            <li><a href='{% url "customer:list" %}'>Customer List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.cars.add_car %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vehicle <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "car:create" %}'>Create Vehicle</a></li>
            <li><a href='{% url "car:list" %}'>Vehicle List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.facilities.add_facilitie %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facility <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "facility:create" %}'>Create Facility</a></li>
            <li><a href='{% url "facility:list" %}'>Facility List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.discounts.add_discount %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Discount <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "discounts:discounts_create" %}'>Create Discount</a></li>
            <li><a href='{% url "discounts:discounts_list" %}'>Discounts List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.expense.add_expensecategory %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expense Category<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "expense:create" %}'>Create Expense Category</a></li>
            <li><a href='{% url "expense:list" %}'>Expense Category List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.expense.add_expense %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expenses<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "expense:expense_create" %}'>Create Expense</a></li>
            <li><a href='{% url "expense:expense_list" %}'>Expenses List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.employee.add_employee %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employee <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "employee:create" %}'>Create Employee</a></li>
            <li><a href='{% url "employee:list" %}'>Employee List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.order.add_order %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Order <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "order:create" %}'>Order Create</a></li>
            <li><a href='{% url "order:list" %}'>Order List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if request.user.is_superuser or request.user.is_staff%}

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  {% if request.user.is_staff and not request.user.is_superuser %}
                    <li><a href='{% url "reports:my_report" %}'>My Report</a></li>
                  {% elif request.user.is_superuser %}
                    <li><a href='{% url "reports:sales_breakdown" %}'>Sales Breakdown</a></li>
                    <li><a href='{% url "reports:car_count" %}'>Car Count</a></li>
                    <li><a href='{% url "reports:expense" %}'>Expenses</a></li>
                    <li><a href='{% url "reports:summary" %}'>Summary</a></li>
                    <li><a href='{% url "reports:my_report" %}'>My Report</a></li>
                  {% endif %}
              </ul>
            </li>

        {% endif %}

        {% if request.user.is_superuser %}

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Quick Messages <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href='{% url "messages:quick_message" %}'>Quick Message</a></li>
                <li><a href='{% url "messages:quick_message_templates_create" %}'>Message Template Create</a></li>
                <li><a href='{% url "messages:quick_message_templates_list" %}'>Message Template List</a></li>
                <li><a href='{% url "messages:quick_message_settings" %}'>Default Message Settings</a></li>
              </ul>
            </li>

        {% endif %}
      </ul>
      {% endif %}

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <!--**********************************************-->
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-user"></span> 
              {% if request.user.is_superuser %}
              <strong>Admin</strong>
              {% endif %}
              {% if request.user.is_staff and not request.user.is_superuser %}
              <strong>Manager</strong>
              {% endif %}
              <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="navbar-login">
                  <div class="row">
                    <div class="col-lg-4">
                      <p class="text-center">
                        <span class="glyphicon glyphicon-user icon-size"></span>
                      </p>
                    </div>
                    <div class="col-lg-8">
                      <p class="text-left"><strong>{{request.user.first_name}} {{request.user.last_name}}</strong></p>
                      <p class="text-left small">{{request.user.email}}</p>
                      {% if request.user.is_superuser %}
                      <a type="button" href="{% url 'admin:index' %}" class="btn btn-primary btn-md">Admin Panel</a>
                      {% endif %}

                      <!--<p class="text-left">-->
                      <!--<a href="#" class="btn btn-primary btn-block btn-sm">Actualizar Datos</a>-->
                      <!--</p>-->
                    </div>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
              <li>
                <div class="navbar-login navbar-login-session">
                  <div class="row">
                    <div class="col-lg-12">
                      <p>
                        <a href='{% url "auth_logout" %}' class="btn btn-danger btn-block"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>

        <!--**************************************************-->

        <!--<li><a href='{% url "auth_logout" %}'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>-->
        {% else %}
        <!--<li><a href='{% url "registration_register" %}'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
        <li><a href='{% url "auth_login" %}'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

<style>
  .navbar-login
  {
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
  }

  .navbar-login-session
  {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .icon-size
  {
    font-size: 87px;
  }
</style>