{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>
<center><h1>Create Order</h1></center>
<center>
    <select id="search_cars" style="width: 50%">
        <option disabled selected value>-------- SEARCH VEHICLE --------</option>
    </select>
</center>

<form method="post" action="" enctype="multipart/form-data" id="order_form">{% csrf_token %}
    {{form|crispy}}

    <!--////////////////////////////////////-->

<div id="TextBoxContainer">
    <label>Facilities / Sub-Facilities*</label>
    <div class="well well-sm">
    <select class="get_fac" name="getFacilities" style="width: 30%"><option disabled selected value> -- select facility -- </option></select>&nbsp;
    <select class="get_sub_fac" name="getSubFacilities" multiple="multiple" style="width: 50%"></select>&nbsp;
        </div>
    <!--Textboxes will be added here -->
</div>
<input id="btnAdd" type="button" value="Add Facility" class="btn btn-primary btn-xs" style="float: right"/>

<!--////////////////////////////////////////-->
<br>
    <input type="submit" class="btn btn-primary" value="create order"/>
</form>

<button id = "createVehicleCustomerButton" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myCustomerModal" style="float: right">Create Customer</button>
<button id = "createVehicleButton" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myVehicleModal" style="float: right">Create Vehicle</button>

<!-- Create Customer and vehicle Modal -->
<div id="myCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Customer® & Vehicle</h4>
            </div>
            <div class="modal-body">

                <center><div class="customer_form_errors" style="color: red"></div></center>
                <center><div class="car_form_errors" style="color: red"></div></center>
                <div id="cust">
                    <form id="customer_form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        {{ form_customer|crispy }}
                        <input type="submit" class="btn btn-primary" value="create customer"/>
                    </form>
                </div>

                <div id="car" style="display: none">
                    <form id="car_form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        {{ form_car|crispy }}
                        <input type="submit" class="btn btn-primary" value="create vehicle"/>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!--////////////////////////////////////-->

<!--<div id="TextBoxContainer">-->
    <!--<div class="well well-sm">-->
    <!--<select class="get_fac" name="getFacilities" style="width: 40%"><option disabled selected value> &#45;&#45; select facility &#45;&#45; </option></select>&nbsp;-->
    <!--<select class="get_sub_fac" name="getSubFacilities" multiple="multiple" style="width: 40%"><option disabled > &#45;&#45; select sub-facility &#45;&#45; </option></select>&nbsp;-->
        <!--</div>-->
    <!--&lt;!&ndash;Textboxes will be added here &ndash;&gt;-->
<!--</div>-->
<!--<input id="btnAdd" type="button" value="Add Facility" class="btn btn-primary btn-sm" style="float: right"/>-->

<!--////////////////////////////////////////-->
<script type="text/javascript">
    $('select').select2();
    $('#id_facility_and_prices').val('null');
    $("#id_facility_and_prices").hide();
    $('#id_facility_and_prices, label[for="id_facility_and_prices"], input#id_facility_and_prices').hide();
    $("#id_facility").select2({placeholder: "Select one or multiple services", allowClear: true});
    $("#id_customer").select2({placeholder: "Select Customer", allowClear: true});
    $("#id_vehicle").empty().select2();
    $("#id_vehicle").select2({placeholder: "Select Vehicle", allowClear: true});
    $("#id_car_owner").select2({placeholder: "Select Owner", allowClear: true});

    $('#createVehicleButton').hide();
    $( "#search_cars" ).select2( { } );
    $("#search_cars").select2({placeholder: "Search Vehicle", allowClear: true});
    $(".get_sub_fac").select2({placeholder: "Select Sub-Facilities", allowClear: true});
    $('label[for="id_customer"]').after(createVehicleCustomerButton);
    $('label[for="id_vehicle"]').after(createVehicleButton);
    initial_add_facility();
    $('#btnAdd').prop("disabled",true);
    ////////////////////////////////////////////////////
    $.ajax({
        data: {action: 'get_cars'},
        type: "GET",
        url: main_url+ "/car/",
        success: function (data) {
            var dict = []; // create an empty array
            $.each(data, function (index, value) {
                dict.push({"id": value.pk, "text": value.fields.model_code});
            });
            $("#search_cars").select2({data: dict});
        },
        error: function () {
            console.log("error occur while get all vehicles")
        }
    });

    $('#search_cars').on('change', function () {
        $.ajax({
            data: {action: 'get_car_by_id'},
            type: "GET",
            url: main_url + '/car/' + this.value,
            success: function (data) {
                cust_id = data[0].fields.car_owner;
                $('#id_customer').val(cust_id).trigger('change');
            },
            error: function () {
                alert("error");
            }
        });
    });
    ///////////////////////////////////////////////////////
    $('#id_model_code').on('change', function () {
        this.value = this.value.toUpperCase();
    });
    $('#createVehicleCustomerButton').on('click', function () {
        $('.customer_form_errors').hide();
        $('#customer_form')[0].reset();
        $('#cust').show();
        $('#car').hide();
    });

    $('#createVehicleButton').on('click', function () {
        $('.car_form_errors').hide();
        $('#car_form')[0].reset();
        $('#myCustomerModal').modal('show');
        $('#cust').hide();
        $('#car').show();


        var cust_id =  $('#id_customer').val();
        $('#id_car_owner').val(cust_id).trigger('change');
    });

    $('#id_customer').on('change', function () {
        $('#createVehicleButton').show();
        $.ajax({
            data: {action: 'get_car_for_customer'},
            type: "GET",
            url: main_url + "/car/?customer_id=" + this.value,
            success: function (data) {
                if (data.length > 0) {
                    var dict = []; // create an empty array
                    $.each(data, function (index, value) {
                        dict.push({"id": value.pk, "text": value.fields.model_code});
                    });
                    $("#id_vehicle").empty().select2();
                    $("#id_vehicle").select2({data: dict});
                    $('#id_owner_reference, label[for="id_owner_reference"], input#id_owner_reference').show();
                } else {
                    $('#id_owner_reference, label[for="id_owner_reference"], input#id_owner_reference').hide();
                    $("#id_vehicle").empty().select2();
                    $("#id_vehicle").select2({placeholder: "No vehicle found create new one"});
                }
            },
            error: function () {
                $("#id_vehicle").empty().select2();
                $("#id_vehicle").select2({placeholder: "Select Vehicle"});
                $('#id_owner_reference, label[for="id_owner_reference"], input#id_owner_reference').hide();
                $('#createVehicleButton').hide();
            }
        });
    });


    //ajax method to save customer form
    $(document).ready(function () {
        $('#customer_form').submit(function () { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize() + '&action=customer_form', // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function (response) { // on success..
                    if(response.errors){
                        console.log(response);
                        var errors_array = [];
                        $.each( response.errors, function( key, value ) {
                            errors_array.push(value);
                        });
                        $(".customer_form_errors").text(errors_array);
                        $('.customer_form_errors').show();
                    }else{
                        $('.customer_form_errors').hide();
                        id = response[0].pk;
                        //update select field of customer and set default current customer
                        $.ajax({
                            type: "GET",
                            url: main_url + "/customer/",
                            success: function (data) {
                                var dict = []; // create an empty array
                                $.each(data, function (index, value) {
                                    dict.push({"id": value.pk, "text": value.fields.full_name});
                                });
                                $("#id_customer").select2({data: dict});
                                $('#id_customer').val(id).trigger('change');
                                $("#id_car_owner").select2({data: dict});
                                $('#id_car_owner').val(id).trigger('change');
                                $('#car').toggle();
                                $('#cust').toggle();
                            },
                            error: function () {
                                console.log('error occur while get customer')
                            }
                        });
                    }
                },
                error: function (e, x, r) { // on error..
                }
            });
            return false;
        });

        // ajax post method for vehicle form
        $('#car_form').submit(function () { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize() + '&action=car_form', // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function (response) { // on success..
                    if(response.errors){
                        var errors_array = [];
                        $.each( response.errors, function( key, value ) {
                            errors_array.push(value);
                        });
                        $(".car_form_errors").text(errors_array);
                        $('.car_form_errors').show();
                    }else {
                        $('.car_form_errors').hide();
                        id = response[0].pk;
                        //update select field of customer and set default current customer
                        $.ajax({
                            data: {action: 'get_cars'},
                            type: "GET",
                            url: main_url+"/car/",
                            success: function (data) {
                                var dict = []; // create an empty array
                                $.each(data, function (index, value) {
                                    dict.push({"id": value.pk, "text": value.fields.model_code});
                                });
                                $("#id_vehicle").select2({data: dict});
                                $('#id_vehicle').val(id).trigger('change');
                                $('#myCustomerModal').modal('hide');
                            },
                            error: function () {
                                alert("error");
                            }
                        });
                    }

                },
                error: function (e, x, r) { // on error..
                }
            });
            return false;
        });
    });


    ///////////////////////////////// -------------------
    $(function () {
        $("#btnAdd").bind("click", function () {
            var div = $("<div />");
            div.html(GetDynamicTextBox(""));
            $("#TextBoxContainer").append(div);
        });
        $('#order_form').on('submit', function(){

            var facilities_array = [];
            $("select[name=getFacilities]").each(function () {
                facilities_array.push($(this).val());
            });

            var subFacilities_array = [];
            $("select[name=getSubFacilities]").each(function () {
                subFacilities_array.push($(this).val());
            });

            data_dictionary = {'facilities': facilities_array, 'subFacilities': subFacilities_array};
            var json_dict = JSON.stringify(data_dictionary);
            $('#id_facility_and_prices').val(json_dict);


            if($(".get_sub_fac").last().val().length >=1){
                return true;
            }else {
                alert('please choose correctly facility and sub-facility');
                return false;
            }

        });
        $("body").on("click", ".remove", function () {
            $(this).closest("div").remove();
        });
    });

    function GetDynamicTextBox(value) {
        $('#btnAdd').prop("disabled",true);

        already_selected_facility_list = [];
        $(".get_fac").each(function()
        {
            already_selected_facility_list.push(this.value)
        });
        console.log(already_selected_facility_list)

        $.ajax({
            data: {action: 'getFacilities',already_selected_facility_list: JSON.stringify(already_selected_facility_list)},
            type: "GET",
            url: main_url + "/facility/",
            success: function (data) {

                var dict = [];
                $.each(data, function (index, value) {
                    dict.push({"id": value.pk, "text": value.fields.name});
                });
                $(".get_fac").select2({data: dict});

                $(".get_fac").on('change', function () {
                    $.ajax({
                        data: {action: 'get_sub_facilities',
                            selectedValues: this.value},
                        type: "GET",
                        url: main_url+"/facility/",
                        success: function (data) {
                            var data_dic = [];
                            $.each(data, function (index, value) {
                                data_dic.push({"id": value.pk, "text": value.fields.name});
                            });

                            {#-- always empty before assign sub facilities#}
                            $(".get_sub_fac").last().empty();
                            {#------------#}

                            $(".get_sub_fac").last().select2({data: data_dic});

                            $('.get_sub_fac').last().on('change', function () {
                                if(this.value !=''){
                                    $('#btnAdd').prop("disabled",false);
                                }else{
                                    $('#btnAdd').prop("disabled",true);
                                }
                            });
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
            },
            error: function () {
                console.log("error occur while getting facilities ")
            }
        });

        return '<div class="well well-sm">' +
                '<select class="get_fac" name="getFacilities" style="width: 30%"><option disabled selected value> -- select facility -- </option></select>&nbsp;' +
                '<select class="get_sub_fac" name="getSubFacilities" multiple="multiple" style="width: 50%" size=1><option disabled> -- select sub-facility -- </option></select>&nbsp;' +
                '<input type="button" value="Remove" class="remove btn btn-primary btn-xs" style="float: right;"/>' +
                '</div>'
    }

    //////////////////////////////////------------------

    $('.get_sub_fac').last().on('change', function () {
        if(this.value !=''){
            $('#btnAdd').prop("disabled",false);
        }else{
            $('#btnAdd').prop("disabled",true);
        }

    });

    function initial_add_facility() {
        already_selected_facility_list = [];
        $.ajax({
            data: {action: 'getFacilities',already_selected_facility_list: JSON.stringify(already_selected_facility_list)},
            type: "GET",
            url: main_url + "/facility/",
            success: function (data) {

                var dict = [];
                $.each(data, function (index, value) {
                    dict.push({"id": value.pk, "text": value.fields.name});
                });
                $(".get_fac").select2({data: dict});

                $(".get_fac").on('change', function () {
                    $.ajax({
                        data: {action: 'get_sub_facilities',
                            selectedValues: this.value},
                        type: "GET",
                        url: main_url+"/facility/",
                        success: function (data) {
                            var data_dic = [];
                            $.each(data, function (index, value) {
                                data_dic.push({"id": value.pk, "text": value.fields.name});
                            });

                            {#-- always empty before assign sub facilities#}
                            $(".get_sub_fac").empty();
                            {#------------#}

                            $(".get_sub_fac").select2({data: data_dic});
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
            },
            error: function () {
                console.log("error occur while getting facilities ")
            }
        });
    }

    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}