{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">
                <input type="text" name="query" placeholder="Search Query" class="form-control" vaue="{{ request.GET.query }}"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
            </div>
        </form>
    </div>

</div>

<div class="container table-responsive">
    <h2>Order List <span class="badge">{{ order_count }}</span><a type="button" class="btn btn-primary btn-sm pull-right" href='{% url "order:create" %}'>Create New One</a></h2>

    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Token #</th>
            <th>Customer</th>
            <th>Facilities</th>
            <th>Vehicle</th>
            <th>Total</th>
            <th>Created @</th>
            <th>Status</th>
            <th>View</th>
            {% if perms.order.change_order %}
            <th>Edit</th>
            {% endif %}
            {% if perms.order.delete_order %}
            <th>Delete</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for order in order_list %}
        <tr>
            <td>{{ order.token_number }}</td>
            <td><a href="{{order.customer.get_absolute_url}}">{{ order.customer.full_name }} <small><small><small>{{ order.customer.phone_number }}</small></small></small></a></td>
            <td>{% for ficility in order.facility.all %}
                <li><a href="{{ficility.get_absolute_url}}">{{ficility}}</a></li>
                {% endfor %}
            </td>
            <td><a href="{{order.vehicle.get_absolute_url}}">{{ order.vehicle.model_code }}</a></td>
            <td>{{ order.total_amount }} Rs</td>
            <td>{{ order.timestamp }}</td>
            <td>
                {% if order.approved == True %}
                <span class="label label-success">Order Paid</span>
                {% else %}
                <button type="button" class="btn btn-secondary btn-xs" onclick="approve('{{ order.id }}', '{{ order.customer.phone_number }}')" id="approve_flag">Proceed To Payment</button>
                {% endif %}
            </td>
            <td><a type="button" class="btn btn-info btn-xs" href="{{order.get_absolute_url}}">View</a></td>
            {% if perms.order.change_order %}
            <td><a type="button" class="btn btn-warning btn-xs" href='{% url "order:update" id=order.id %}'>Edit</a></td>
            {% endif %}
            {% if perms.order.delete_order %}
            <td><a type="button" class="btn btn-danger btn-xs" href='{% url "order:delete" id=order.id %}' data-confirm="true">Delete</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<center>

    {% if order_list.has_other_pages %}
    <ul class="pagination">
        {% if order_list.has_previous %}
        <li> <a href="?page={{ order_list.previous_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in order_list.paginator.page_range %}
        {% if order_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if order_list.has_next %}
        <li>
            <a href="?page={{ order_list.next_page_number }}{% if request.GET.query %}&query={{ request.GET.query }}{% endif %}">&raquo;</a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}

</center>

<script type="text/javascript">

    // -------quick sending message to custom credentials-------
    var msisdn = '{{ message_credentials.mob_no }}'.replace(/&#39;/g, "").substring(1);
    var password = '{{ message_credentials.password }}'.replace(/&#39;/g, "");
    var message = '{{ message_credentials.message }}'.replace(/&#39;/g, "");
    var mask = 'Speedo Wash';
    // ---------------------------------------------------------

    function approve(order_id, phone_num) {
        $.ajax({
            type:"POST",
            url:main_url+"/order/",
            data: {
                order_id: order_id,
                action: 'order_approve'
            },
            success: function(data){
                send_farewell_message(msisdn, password, phone_num, message, mask);
            },
            error: function () {
                location.reload();
            }
        });
    }

    function send_farewell_message(id , pass, recipient_num, message, mask) {

        $.ajax({
            type: "GET",
            url: 'https://telenorcsms.com.pk:27677/corporate_sms2/api/auth.jsp?msisdn='+id+'&password='+pass,
            success: function (response) {
                var session_id = response.childNodes[0].childNodes[3].firstChild.nodeValue;
                $.ajax({
                    type: "GET",
                    url: 'https://telenorcsms.com.pk:27677/corporate_sms2/api/sendsms.jsp?session_id='+session_id+'&to='+recipient_num+'&text='+message+'&unicode=true&mask='+mask,
                    success: function (response) {
//                        console.log(response);
                        console.log('successfully send message to customer');
                        location.reload();
                    },
                    error: function () {
                        console.log("error occur while sending farewell message to customer")
                        location.reload();
                    }
                });
            },
            error: function () {
                console.log("error occur while get session_of telenorcsms")
                location.reload();
            }
        });
    }


    $('*[data-confirm="true"]').on('click', function() {
        return confirm("Are you sure?");
    });
</script>

{% endblock content %}