{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>
<center><h1>Edit Order</h1></center>
<form method="post" action="" enctype="multipart/form-data" id="oreder_edit_form">{% csrf_token %}
    {{form|crispy}}
    <!--////////////////////////////////////-->

    <div id="TextBoxContainer">
        <label id="fac_sub_fac_label">Facilities / Sub-Facilities*</label>
        <!--<div class="well well-sm">-->
            <!--<select class="get_fac" name="getFacilities" style="width: 30%"><option disabled selected value> &#45;&#45; select facility &#45;&#45; </option></select>&nbsp;-->
            <!--<select class="get_sub_fac" name="getSubFacilities" multiple="multiple" style="width: 50%"></select>&nbsp;-->
        <!--</div>-->
        <!--Textboxes will be added here -->
    </div>
    <input id="btnAdd" type="button" value="Add Facility" class="btn btn-primary btn-xs" style="float: right"/>

    <!--////////////////////////////////////////-->
    <input type="submit" class="btn btn-primary" {% if order.approved == True %}value="Paid Order Not Allowed To Edit" disabled{% else %}value="Edit Order"{% endif %}/>
</form>

<button id = "createVehicleCustomerButton" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myCustomerModal" style="float: right">Create Customer</button>
<button id = "createVehicleButton" type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myVehicleModal" style="float: right">Create Vehicle</button>

<!-- Create Customer and vehicle Modal -->
<div id="myCustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Customer® & Vehicle</h4>
            </div>
            <div class="modal-body">
                <center><div class="customer_form_errors" style="color: red"></div></center>
                <center><div class="car_form_errors" style="color: red"></div></center>
                <div id="cust">
                    <form id="customer_form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        {{ form_customer|crispy }}
                        <input type="submit" class="btn btn-primary" value="create customer"/>
                    </form>
                </div>

                <div id="car" style="display: none">
                    <form id="car_form" method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        {{ form_car|crispy }}
                        <input type="submit" class="btn btn-primary" value="create vehicle"/>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    $('select').select2();
    $('#id_facility_and_prices').val('null');
    //    $("#id_facility").select2({placeholder: "Select one or multiple services", allowClear: true});
    $("#id_customer").select2({placeholder: "Select Customer", allowClear: true});
    $("#id_vehicle").select2({placeholder: "Select Vehicle", allowClear: true});
    $("#id_car_owner").select2({placeholder: "Select Owner", allowClear: true});

        $("#id_facility_and_prices").hide();
        $('#id_facility_and_prices, label[for="id_facility_and_prices"], input#id_facility_and_prices').hide();

    $('label[for="id_customer"]').after(createVehicleCustomerButton);
    $('label[for="id_vehicle"]').after(createVehicleButton);

//    $('#btnAdd').prop("disabled",true);

    //    $('#sub-facilities').select2({placeholder: 'Select one in each group'});
    //    $("#sub-facilities-div").show();

    $('#id_model_code').on('change', function () {
        this.value = this.value.toUpperCase();
    });
    $('#createVehicleCustomerButton').on('click', function () {
        $('.customer_form_errors').hide();
        $('#customer_form')[0].reset();
        $('#cust').show();
        $('#car').hide();
    });

    $('#createVehicleButton').on('click', function () {
        $('.car_form_errors').hide();
        $('#car_form')[0].reset();
        $('#myCustomerModal').modal('show');

        $('#cust').hide();
        $('#car').show();

        var cust_id =  $('#id_customer').val();
        $('#id_car_owner').val(cust_id).trigger('change');
    });

    $('#id_customer').on('change', function () {
        $('#createVehicleButton').show();
        $.ajax({
            data: {action: 'get_car_for_customer'},
            type: "GET",
            url: main_url+"/car/?customer_id=" + this.value,
            success: function (data) {
                if (data.length > 0) {
                    var dict = []; // create an empty array
                    $.each(data, function (index, value) {
                        dict.push({"id": value.pk, "text": value.fields.model_code});
                    });
                    $("#id_vehicle").empty().select2();
                    $("#id_vehicle").select2({data: dict});
                } else {
                    $("#id_vehicle").empty().select2();
                    $("#id_vehicle").select2({placeholder: "No vehicle found create new one"});
                }
            },
            error: function () {
                $("#id_vehicle").empty().select2();
                $("#id_vehicle").select2({placeholder: "Select Vehicle"});
                $('#createVehicleButton').hide();
            }
        });
    });


    //ajax method to save customer form
    $(document).ready(function () {
        $('#customer_form').submit(function () { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize() + '&action=customer_form', // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function (response) { // on success..
                    if(response.errors){
                        console.log(response);
                        var errors_array = [];
                        $.each( response.errors, function( key, value ) {
                            errors_array.push(value);
                        });
                        $(".customer_form_errors").text(errors_array);
                        $('.customer_form_errors').show();
                    }else {
                        $('.customer_form_errors').hide();
                        id = response[0].pk;
                        //update select field of customer and set default current customer
                        $.ajax({
                            type: "GET",
                            url: main_url + "/customer/",
                            success: function (data) {
                                var dict = []; // create an empty array
                                $.each(data, function (index, value) {
                                    dict.push({"id": value.pk, "text": value.fields.full_name});
                                });
                                $("#id_customer").select2({data: dict});
                                $('#id_customer').val(id).trigger('change');
                                $("#id_car_owner").select2({data: dict});
                                $('#id_car_owner').val(id).trigger('change');
                                $('#car').toggle();
                                $('#cust').toggle();
                            },
                            error: function () {
                                alert("error");
                            }
                        });
                    }

                },
                error: function (e, x, r) { // on error..
                }
            });
            return false;
        });

        // ajax post method for vehicle form
        $('#car_form').submit(function () { // catch the form's submit event
            $.ajax({ // create an AJAX call...
                data: $(this).serialize() + '&action=car_form', // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function (response) { // on success..
                    if(response.errors){
                        var errors_array = [];
                        $.each( response.errors, function( key, value ) {
                            errors_array.push(value);
                        });
                        $(".car_form_errors").text(errors_array);
                        $('.car_form_errors').show();
                    }else {
                        $('.car_form_errors').hide();
                        id = response[0].pk;
                        //update select field of customer and set default current customer
                        $.ajax({
                            data: {action: 'get_cars'},
                            type: "GET",
                            url: main_url + "/car/",
                            success: function (data) {
                                var dict = []; // create an empty array
                                $.each(data, function (index, value) {
                                    dict.push({"id": value.pk, "text": value.fields.model_code});
                                });
                                $("#id_vehicle").select2({data: dict});
                                $('#id_vehicle').val(id).trigger('change');
                                $('#myCustomerModal').modal('hide');
                            },
                            error: function () {
                                alert("error");
                            }
                        });
                    }
                },
                error: function (e, x, r) { // on error..
                }
            });
            return false;
        });
    });


    ///////////////////////////////// -------------------
    $(function () {
        $("#btnAdd").bind("click", function () {
            var div = $("<div />");
            div.html(GetDynamicTextBox2(""));
            $("#TextBoxContainer").append(div);
        });
        $('#oreder_edit_form').on('submit', function(){

            var facilities_array = [];
            $("select[name=getFacilities]").each(function () {
                facilities_array.push($(this).val());
            });

            var subFacilities_array = [];
            $("select[name=getSubFacilities]").each(function () {
                subFacilities_array.push($(this).val());
            });

            data_dictionary = {'facilities': facilities_array, 'subFacilities': subFacilities_array};
            var json_dict = JSON.stringify(data_dictionary);
            $('#id_facility_and_prices').val(json_dict);


            if($(".get_sub_fac").last().val().length >=1){
                return true;
            }else {
                alert('please choose correctly facility and sub-facility');
                return false;
            }

        });
        $("body").on("click", ".remove", function () {
            $(this).closest("div").remove();
        });
    });

    function GetDynamicTextBox2(value) {
        $('#btnAdd').prop("disabled",true);

        already_selected_facility_list = [];
        $(".get_fac").each(function()
        {
            already_selected_facility_list.push(this.value)
        });
        console.log(already_selected_facility_list)

        $.ajax({
            data: {action: 'getFacilities',already_selected_facility_list: JSON.stringify(already_selected_facility_list)},
            type: "GET",
            url: main_url + "/facility/",
            success: function (data) {

                var dict = [];
                $.each(data, function (index, value) {
                    dict.push({"id": value.pk, "text": value.fields.name});
                });
                $(".get_fac").select2({data: dict});

                $(".get_fac").on('change', function () {
                    $.ajax({
                        data: {action: 'get_sub_facilities',
                            selectedValues: this.value},
                        type: "GET",
                        url: main_url+"/facility/",
                        success: function (data) {
                            var data_dic = [];
                            $.each(data, function (index, value) {
                                data_dic.push({"id": value.pk, "text": value.fields.name});
                            });

                            {#-- always empty before assign sub facilities#}
                            $(".get_sub_fac").last().empty();
                            {#------------#}

                            $(".get_sub_fac").last().select2({data: data_dic});

                            $('.get_sub_fac').last().on('change', function () {
                                if(this.value !=''){
                                    $('#btnAdd').prop("disabled",false);
                                }else{
                                    $('#btnAdd').prop("disabled",true);
                                }
                            });
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
            },
            error: function () {
                console.log("error occur while getting facilities ")
            }
        });

        return '<div class="well well-sm">' +
                '<select class="get_fac" name="getFacilities" style="width: 30%"><option disabled selected value> -- select facility -- </option></select>&nbsp;' +
                '<select class="get_sub_fac" name="getSubFacilities" multiple="multiple" style="width: 50%" size=1><option disabled> -- select sub-facility -- </option></select>&nbsp;' +
                '<input type="button" value="Remove" class="remove btn btn-primary btn-xs" style="float: right;"/>' +
                '</div>'
    }

    //////////////////////////////////------------------

    $('.get_sub_fac').last().on('change', function () {
        if(this.value !=''){
            $('#btnAdd').prop("disabled",false);
        }else{
            $('#btnAdd').prop("disabled",true);
        }

    });

    // ------------------fac & sub facilities -----------------
    var fac_dict = '{{fac_and_sub_dict}}'.replace(/&#39;/g,"'");
    var json_fac_dict = JSON.parse(JSON.stringify(fac_dict));
    var facilities_subFacilities_dict_object = eval( "(" + json_fac_dict + ")" );
    // --------------------------------------------------------

     already_selected_facility_list = [];
     $.each(facilities_subFacilities_dict_object, function (index, value) {

         if (already_selected_facility_list.length == 0){
             already_existed_facilities_add(value.id, removeButton = false);
         }else{
             already_existed_facilities_add(value.id ,removeButton = true);
         }


         facility_id = value.id;
         sub_facility_id_array = [];
         $.each(value['sub'], function (index, value) {
             sub_facility_id_array.push(value.sub_facility_id)
         });

         initial_add_facility(facility_id, sub_facility_id_array, already_selected_facility_list);
         already_selected_facility_list.push(facility_id);

     });


    function initial_add_facility(facility_id, sub_facility_id_array, already_selected_facility_list) {

        var check_order_approved = '{{order.approved}}';
        if(check_order_approved == 'True'){
            var fac_action_name = 'getFacilitiesEdit';
            var sub_fac_action_name = 'get_sub_facilitiesEdit';
{#            $('#inputId').prop('readonly', true);#}
            $("#fbox_"+facility_id+" :input").attr("disabled", true);
        }else{
            var fac_action_name = 'getFacilities';
            var sub_fac_action_name = 'get_sub_facilities';
        }

        $.ajax({
            data: {action: fac_action_name, already_selected_facility_list: JSON.stringify(already_selected_facility_list)},
            type: "GET",
            url: main_url + "/facility/",
            success: function (data) {

                var dict = [];
                $.each(data, function (index, value) {
                    dict.push({"id": value.pk, "text": value.fields.name});
                });
//                console.log(dict)
                var fselect = $("#fbox_"+facility_id).find('.get_fac');
                fselect.select2({data: dict})
                .on('change', function () {
//                    console.log('on change');
//                    console.log(this.value);
                    $.ajax({
                        data: {action: sub_fac_action_name,
                            selectedValues: this.value},
                        type: "GET",
                        url: main_url+"/facility/",
                        success: function (data) {
                            var data_dic = [];
                            $.each(data, function (index, value) {
                                data_dic.push({"id": value.pk, "text": value.fields.name});
                            });
//                            console.log(data_dic);
                            $("#fbox_"+facility_id).find(".get_sub_fac").empty().select2();
                            $("#fbox_"+facility_id).find(".get_sub_fac").select2({data: data_dic}).val(sub_facility_id_array).trigger('change');
                        },
                        error: function () {
                            {# alert("error");#}
                            var fac_sub_fac_object_count = Object.keys(facilities_subFacilities_dict_object).length;
                            if (fac_sub_fac_object_count == 1){
{#                                $("#fac_sub_fac_label").hide();#}
{#                                $("#fbox_"+facility_id).remove();#}
                            }else{
                                $("#fbox_"+facility_id).remove();
                            }
                        }
                    });
                });
                fselect.val(facility_id).trigger('change');

            },
            error: function () {
                console.log("error occur while getting facilities ")
            }
        });
    }

    function already_existed_facilities_add(fid, removeButton){
        var div = $("<div />");
        div.html(GetDynamicTextBox(fid, removeButton));
        $("#TextBoxContainer").append(div);
    }

    function GetDynamicTextBox(fid, removeButton) {
        if(removeButton == false)
        {
            return '<div class="well well-sm" id="fbox_'+fid+'">' +
                '<select class="get_fac" name="getFacilities" style="width: 30%"><option disabled selected value> -- select facility -- </option></select>&nbsp;' +
                '<select class="get_sub_fac" name="getSubFacilities" multiple="multiple" style="width: 50%" size=1><option disabled> -- select sub-facility -- </option></select>&nbsp;' +
                '</div>'
        }else {
            return '<div class="well well-sm" id="fbox_'+fid+'">' +
                '<select class="get_fac" name="getFacilities" style="width: 30%"><option disabled selected value> -- select facility -- </option></select>&nbsp;' +
                '<select class="get_sub_fac" name="getSubFacilities" multiple="multiple" style="width: 50%" size=1><option disabled> -- select sub-facility -- </option></select>&nbsp;' +
                '<input type="button" value="Remove" class="remove btn btn-primary btn-xs" style="float: right;"/>' +
                '</div>'
        }

    }
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}