{% extends "base.html" %}
{% block content %}
<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>
<a type="button" class="btn btn-primary btn-xs pull-right" href='{% url "order:create" %}'>Create New Order</a>
<a  type="button" href='{% url "order:update" id=order.id %}' class="btn btn-success btn-xs" style="float: right ;  margin-right: 5px;">Edit Order</a>


<div class="container" id="invoice-box">
    <div class="row">
        <div class="col-xs-12">
            <div class="invoice-title">
                <h2>Speedo Car Wash</h2><h3 class="pull-right">Token # {{ order.token_number}}</h3>

            </div>
            <hr>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Billed To:</strong><br>
                        {{ order.customer.full_name }}<br>
                        {{ order.customer.phone_number }}, {{ order.customer.city }}
                        {% if order.owner_reference %}
                        <td>
                            <br> Reference : {{ order.owner_reference }}
                        </td>
                        {% endif %}
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Payment To:</strong><br>
                        {{ order.created_user.first_name }} {{order.created_user.last_name}}<br>
                        <span class="no-print">{{ order.created_user.email }}</span>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Vehicle Detail:</strong><br>
                        Type : {{ order.vehicle.category }}<br>
                        No : {{ order.vehicle.model_code }}
                    </address>
                </div>
                <div class="col-xs-6 text-right">
                    <address>
                        <strong>Other Details:</strong><br>
                        Visit Count : {{ order.visit_car_count}}<br>
                        <span class="no-print">Order #: {{ order.id}}</span>

                    </address>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Order summary</strong></h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Services</strong></td>
                                <td ><strong>Sub Services</strong></td>
                                <td class="text-center"></td>
                                <td class="text-right"><strong>Price</strong></td>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                            {% for key, facility in facility_dict.items %}
                            <tr>
                                <td>{{facility.name}}</td>
                                <td>
                                    {% for sub in facility.sub %}
                                    <li>{{sub.sub_facility_name}}</li>
                                    {% endfor %}
                                </td>
                                <td class="text-center"></td>
                                <td class="text-right">
                                    {% for sub in facility.sub %}
                                    {{sub.price}}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <td class="thick-line"></td>
                                <td class="thick-line"></td>
                                <td class="thick-line text-center"></td>
                                <td class="thick-line text-right"></td>
                            </tr>

                            <tr>
                                <td class="no-line"></td>
                                <td class="no-line"></td>
                                <td class="no-line text-center"><strong>Total</strong>{% if order.declare_discount_string != null %}<small> ( After {{ order.declare_discount_string }} % Discount )</small>{% endif %}</td>
                                <td class="no-line text-right">{{ order.total_amount}} Rs</td>
                            </tr>
                            </tbody>
                        </table>

                        <h5 style="float: right"><small>Near Sat Sira Chowk, Murala Road Mandi Bahauddin.<br>Ph # 923436655533</small><small style="float: right">{{order.timestamp }}</small></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button onclick="print_invoice()" class="btn btn-info btn-sm" style="float:right;"><span class="glyphicon glyphicon-print"></span> Print</button>

{% if order.approved == True %}
<button type="button" class="btn btn-success btn-sm" onclick="not_approve('{{ order.id }}')" id="not_approve_flag" style="float:right;  margin-right: 5px;">Order Paid</button>
{% else %}
<button type="button" class="btn btn-secondary btn-sm" onclick="approve('{{ order.id }}')" id="approve_flag" style="float:right;  margin-right: 5px;">Proceed To Payment</button>
{% endif %}


<!--<div class="invoice-box" id="invoice-box" >-->
<!--<table cellpadding="0" cellspacing="0">-->
<!--<tr class="top">-->
<!--<td colspan="2">-->
<!--<table>-->
<!--<tr>-->
<!--<td class="title" style="float: left">-->

<!--<h1 class="cutomheading"><span>Speedo</span><br /><span>C<span class="overline">ar&nbsp;Car</span>e</span></h1>-->

<!--</td>-->

<!--<td>-->
<!--<br>-->
<!--Token #: {{ order.token_number}}<br>-->
<!--Invoice #: {{ order.id}}<br>-->
<!--Created: {{ order.timestamp | date:"D d M Y"}}<br>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</td>-->
<!--</tr>-->

<!--<tr class="information">-->
<!--<td colspan="2">-->
<!--<table>-->
<!--<tr>-->
<!--<td>-->
<!--Near Sat Sira Chowk.<br>-->
<!--Murala Road Mandi Bahauddin<br>-->
<!--Ph # 923436655533-->
<!--</td>-->

<!--<td>-->
<!--<u>Manager</u><br>-->
<!--{{ order.created_user.first_name }} {{order_created_user.last_name}}<br>-->
<!--{{ order.created_user.email }}-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</td>-->
<!--</tr>-->

<!--<tr class="heading">-->
<!--<td>-->
<!--Customer/Vehicle Detail-->
<!--</td>-->

<!--<td>-->
<!--Visit Count : {{ order.vehicle.visit_count}}-->
<!--</td>-->
<!--</tr>-->

<!--<tr class="items">-->
<!--<td>-->
<!--Name : {{ order.customer.full_name }}-->
<!--</td>-->

<!--<td>-->
<!--Phone No : {{ order.customer.phone_number }}-->
<!--</td>-->

<!--</tr>-->
<!--<tr class="items">-->
<!--<td>-->
<!--Vehicle Type : {{ order.vehicle.category }}-->
<!--</td>-->

<!--<td>-->
<!--Vehicle No : {{ order.vehicle.model_code }}-->
<!--</td>-->

<!--</tr>-->
<!--{% if order.owner_reference %}-->
<!--<tr class="items">-->
<!--<td>-->
<!--Reference : {{ order.owner_reference }}-->
<!--</td>-->
<!--</tr>-->
<!--{% endif %}-->

<!--<tr class="heading">-->
<!--<td>-->
<!--Services-->
<!--</td>-->

<!--<td>-->
<!--Price-->
<!--</td>-->
<!--</tr>-->

<!--<tr class="item">-->
<!--{% for key, values in facility_dict.items %}-->
<!--<tr>-->
<!--<td>{{key}}</td>-->
<!--<td>{{values}}</td>-->
<!--</tr>-->
<!--{% endfor %}-->

<!--</tr>-->

<!--<tr class="total">-->
<!--<td></td>-->

<!--<td>-->
<!--Total: {{ order.total_amount}} Rs-->

<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->

<style>
    .invoice-title h2, .invoice-title h3 {
        display: inline-block;
    }

    .table > tbody > tr > .no-line {
        border-top: none;
    }

    .table > thead > tr > .no-line {
        border-bottom: none;
    }

    .table > tbody > tr > .thick-line {
        border-top: 2px solid;
    }
</style>
<script type="text/javascript">



    // -------quick sending message to custom credentials-------
    var msisdn = '{{ message_credentials.mob_no }}'.replace(/&#39;/g, "").substring(1);
    var password = '{{ message_credentials.password }}'.replace(/&#39;/g, "");
    var recipient_num = "{{order.customer.phone_number}}";
    var message = '{{ message_credentials.message }}'.replace(/&#39;/g, "");
    var mask = 'Speedo Wash';
    // ---------------------------------------------------------
    //send_farewell_message(msisdn, password, recipient_num, message, mask);
    function approve(order_id) {
        console.log("approve");

        $.ajax({
            type:"POST",
            url:main_url+"/order/",
            data: {
                order_id: order_id,
                action: 'order_approve'
            },
            success: function(data){
                send_farewell_message(msisdn, password, recipient_num, message, mask);
            },
            error: function () {
                location.reload();
            }
        });
    }
    function not_approve(order_id) {
        console.log("not approve");
        $.ajax({
            type:"POST",
            url:main_url+"/order/",
            data: {
                order_id: order_id,
                action: 'order_not_approve'
            },
            success: function(data){
                location.reload();
            }
        });
    }

    function print_invoice() {
        $("#invoice-box").print({noPrintSelector: ".no-print"});
    }

    if ("{{order.approved}}" == 'True'){
        $('#invoice-box').addClass('sample');
    }

    function send_farewell_message(id , pass, recipient_num, message, mask) {

        $.ajax({
            type: "GET",
            url: 'https://telenorcsms.com.pk:27677/corporate_sms2/api/auth.jsp?msisdn='+id+'&password='+pass,
            success: function (response) {
                var session_id = response.childNodes[0].childNodes[3].firstChild.nodeValue;
                $.ajax({
                    type: "GET",
                    url: 'https://telenorcsms.com.pk:27677/corporate_sms2/api/sendsms.jsp?session_id='+session_id+'&to='+recipient_num+'&text='+message+'&unicode=true&mask='+mask,
                    success: function (response) {
//                        console.log(response);
                        console.log('successfully send message to customer');
                        location.reload();
                    },
                    error: function () {
                        console.log("error occur while sending farewell message to customer")
                        location.reload();
                    }
                });
            },
            error: function () {
                console.log("error occur while get session_of telenorcsms")
                location.reload();
            }
        });
    }

    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}