{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>

<center><h1custom>Quick Message</h1custom></center>

<div class="container">
    <center>
        <div class="radio">
            <label><input type="radio" name="message_status" id="custom_radio" value="custom_radio" checked="checked">Custom</label>
            <label><input type="radio" name="message_status" id="select_all_radio" value="select_all_radio">Select All</label>
        </div>
    </center>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <center>
                {% for template in templates %}
                     <button type="button" class="btn btn-link" onclick="setTemplate('{{ template.message }}')">{{ template.template_name }} <i class="fa fa-commenting-o" aria-hidden="true"></i></button>
                {% endfor %}
            </center>
            <form method="post" action="" enctype="multipart/form-data" id="form">{% csrf_token %}
                {{form|crispy}}
                <input type="submit" class="btn btn-primary" value="Send" />
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    $('select').select2();
    $("#id_phone_numbers").select2({placeholder: "Select Mobile No", allowClear: true});

    $('input[type=radio][name=message_status]').change(function() {
        if (this.value == 'custom_radio') {

            $('#div_id_phone_numbers').show();
             $('#id_phone_numbers').val('').trigger('change');

        }
        else if (this.value == 'select_all_radio') {

            select_all();
            $('#div_id_phone_numbers').hide();

        }
    });

    // -------quick sending message to custom credentials-------
    var msisdn = '923436655533';
    var password = 'QOKWRU';
    //    var recipient_num = "{{order.customer.phone_number}}";
    //    var message = 'معزز کسٹمر! سپیڈو کار واش تشریف لانے کا شکریہ۔ امید ہے آپ ھمیں دوبارہ خدمت کا موقع ديں گے۔ منجانب: سپیڈو آٹومیٹک کار واش مرالہ روڈ نزد ست سرا چوک منڈی بہاؤالدین';
    var mask = 'Speedo Wash';
    // ---------------------------------------------------------

    $('#form').submit(function() {

        // -------------phone list --------------------
        customer_obj = $('#id_phone_numbers').val();
        phone_array = [];
        $.each( customer_obj, function( index, value ){
            phone_array.push(value);
        });
        phone_list = phone_array.join(",");
        // --------------------------------------------

        message = $('#id_message').val();

        send_quick_message(msisdn, password, phone_list, message ,mask);
        return false;
    });

    function send_quick_message(id , pass, recipient_num, message, mask) {

        $.ajax({
            type: "GET",
            url: 'https://telenorcsms.com.pk:27677/corporate_sms2/api/auth.jsp?msisdn='+id+'&password='+pass,
            success: function (response) {
                var session_id = response.childNodes[0].childNodes[3].firstChild.nodeValue;
                $.ajax({
                    type: "GET",
                    url: 'https://telenorcsms.com.pk:27677/corporate_sms2/api/sendsms.jsp?session_id='+session_id+'&to='+recipient_num+'&text='+message+'&unicode=true&mask='+mask,
                    success: function (response) {
//                        console.log(response);
                        console.log('successfully send message to customer');
                        location.reload();
                    },
                    error: function () {
                        console.log("error occur while sending farewell message to customer");
                        location.reload();
                    }
                });
            },
            error: function () {
                console.log("error occur while get session_of telenorcsms")
                location.reload();
            }
        });
    }

    function select_all(){
        $("#id_phone_numbers > option").prop("selected","selected");
        $("#id_phone_numbers").trigger("change");
    };

    function setTemplate(template) {
        $("#id_message").val(template).trigger("change");
    }

    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}