{% extends "base.html" %}
{% load variablefilter %}
{% load get_val_from_dict %}
{% load crispy_forms_tags %}


{% block content %}
{#<center><h1>Expense Report</h1></center><br>#}

    <div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">

                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>

                <input id ="query" type="hidden" name="query" placeholder="Search Query" class="form-control" vaue="{{ request.GET.query }}"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Submit!</button>
                </span>
            </div>
        </form>
    </div>

    </div><br>

     <h2>Expense Report <span class="badge" style="font-weight: normal"><span class="glyphicon glyphicon-calendar"></span> {{ start_date|date:"F j, Y" }} - {{ end_date|date:"F j, Y" }}</span></h2>

<div class="table-responsive">
<table class="table table-bordered table-condensed" style="overflow-x: scroll;white-space: nowrap;">
    <thead>
    <tr>
        <th><center><strong>Date</strong></center></th>
        {% for category_name in lagend_expense_categories %}
            <th><center>{{category_name}}</center></th>
        {% endfor %}
    <th><strong>G-Total</strong></th>
    </tr>
    </thead>

    <tbody>
    {% for single_data_arr in expense_data %}
        {% for date, single_data_dic in single_data_arr.items %}
{#            {{ date }}--{{ single_data_dic }}#}
            <tr>
                <td><strong>{{date}}</strong></td>
                {% for lagend_category_name in lagend_expense_categories %}
                    {% set match_cat_of_lagend_And_orignal = 'no' %}
                    {% for single_expense_category in single_data_dic.categories %}
                        {% if lagend_category_name == single_expense_category.name %}
                            <td >{{single_expense_category.price}}</td>
                            {% set match_cat_of_lagend_And_orignal = 'yes' %}
                        {% endif %}
                        {% if forloop.last %}
                            {% ifequal match_cat_of_lagend_And_orignal 'no' %}
                                <td >0</td>
                            {% endifequal %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            <td style="background: brown; color: white">{{ single_data_dic.total_per_day }}</td>
            </tr>
        {% endfor %}
    {% endfor %}
    <tr>
        <td style="background-color: #428BCA; color: white;"><strong>Total</strong></td>
        {% for lagend_category_name in lagend_expense_categories %}
            {% if lagend_category_name in overall_total_per_cat_dict %}

                {% with var=overall_total_per_cat_dict|get:lagend_category_name %}
                        <td style="background: brown; color: white">{{var}}</td>
                {% endwith %}

            {% else %}
                <td style="background: brown; color: white">0</td>
            {% endif %}
        {% endfor %}
        <td style="background-color: #5BC780; color: white">{{ expense_grand_total }}</td>
    </tr>

    </tbody>
</table>
</div>

<script type="text/javascript">
window.onload = function () {
    date_range_picker();
};

    function date_range_picker() {
        $(function() {

{#    var start = moment().subtract(29, 'days');#}
{#    var end = moment();#}

    var start = moment().startOf('month');
    var end = moment().endOf('month');

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#query').val(start.format('YYYY,MM,D') + '!' + end.format('YYYY,MM,D')).trigger('change');

    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
    }

</script>

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<style>
    table {
        border: AppWorkspace solid 1px;
        font-size: 0.8em;
        text-align: center;
        border-collapse:collapse;
        style: 600px;
    }

    tr.header{
        font-weight: bold;
        background-color: #ffffef
    }

    td {
        border: 1px solid AppWorkspace;
        margin: 0;
        padding: 3px;
    }
    @media (max-width: 768px) {
        #reportrange {
            font-weight: lighter;
        }
    }
    @media (max-width: 375px) {
        #reportrange {
            font-size: small;
        }
    }
</style>


{% endblock content %}