<nav class="navbar navbar-default navbar-fixed-top top-bar" style="background-color: rgb(243,243,244); height: 53px">

    {% if not request.user.is_authenticated %}
        <div class="navbar-header">
          <a class="navbar-brand" href='{% url "order:create" %}'>Speedo Car Wash</a>
        </div>
    {% endif %}

    <div class="container-fluid" id ='right_profile'>
    <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
            <li><a href='{% url "auth_logout" %}'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
            <li><a href='{% url "auth_login" %}'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}
    </ul>
  </div>

</nav>
{% if request.user.is_authenticated %}
<nav class="navbar navbar-default sidebar" role="navigation" style="background-color: rgb(47,64,80);">
    <div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header" style="background-color: rgb(243,243,244);">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href='{% url "order:create" %}'>Speedo Car Wash</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            {% if request.user.is_authenticated %}
			<ul class="nav navbar-nav">

            {% if perms.customers.add_customer %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Customer <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "customer:create" %}'>Create Customer</a></li>
            <li><a href='{% url "customer:list" %}'>Customer List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.cars.add_car %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Vehicle <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "car:create" %}'>Create Vehicle</a></li>
            <li><a href='{% url "car:list" %}'>Vehicle List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.facilities.add_facilitie %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Facility <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "facility:create" %}'>Create Facility</a></li>
            <li><a href='{% url "facility:list" %}'>Facility List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.employee.add_employee %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Employee <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "employee:create" %}'>Create Employee</a></li>
            <li><a href='{% url "employee:list" %}'>Employee List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if perms.order.add_order %}
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Order <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "order:create" %}'>Order Create</a></li>
            <li><a href='{% url "order:list" %}'>Order List</a></li>
          </ul>
        </li>
        {% endif %}
        {% if request.user.is_superuser %}

            <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href='{% url "reports:sales_breakdown" %}'>Sales Breakdown</a></li>
            <li><a href='{% url "reports:car_count" %}'>Car Count</a></li>
          </ul>
        </li>

        <li><a href='{% url "messages:quick_message" %}'>Quick Message</a></li>
        {% endif %}






                <li><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
				<li ><a href="#">Profile<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
				<li ><a href="#">Messages<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-envelope"></span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-cog"></span></a>
					<ul class="dropdown-menu forAnimate" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
						<li class="divider"></li>
						<li><a href="#">One more separated link</a></li>
					</ul>
				</li>
			</ul>
            {% endif %}
		</div>
	</div>
</nav>
{% endif %}
<style>
    .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background-color: #293846;
    color: white;
}
    .navbar-default .nav > li > a {
    color: #a7b1c2;
    }
    .navbar-default > li.active > a {
    color: #ffffff;  }

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: #293846; }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;

    color: #a7b1c2;
    white-space: nowrap;

    }

{#    .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {#}
{#    color: #a7b1c2;#}
{#    background-color: #293846;#}
{#    }#}

    /* Colors/style dropdown box*/
		.navbar-default .navbar-nav .open .dropdown-menu {
			position: static;
			float: none;
			width: auto;
			margin-top: 0;
			background-color: #293846;
			border: 0;
			-webkit-box-shadow: none;
			box-shadow: none;
		}



    body,html{
		height: 100%;
	}

	/* remove outer padding */
	.main .row{
		padding: 0px;
		margin: 0px;
	}

	/*Remove rounded coners*/

	nav.sidebar.navbar {
		border-radius: 0px;
	}

	nav.sidebar, .main{
		-webkit-transition: margin 200ms ease-out;
	    -moz-transition: margin 200ms ease-out;
	    -o-transition: margin 200ms ease-out;
	    transition: margin 200ms ease-out;
	}

	/* Add gap to nav and right windows.*/
	.main{
		padding: 35px 35px 0 35px;
	}

	/* .....NavBar: Icon only with coloring/layout.....*/

	/*small/medium side display*/
    @media (max-width: 768px) {
        nav.sidebar{
            z-index: 1;
            width: 100%;
        }
        nav.top-bar{
            z-index: 0;
        }
    }

	@media (min-width: 768px) {

		/*Allow main to be next to Nav*/
		.main{
			position: absolute;
			width: calc(100% - 40px); /*keeps 100% minus nav size*/
			margin-left: 40px;
			float: right;
		}

		/*lets nav bar to be showed on mouseover*/
		nav.sidebar:hover + .main{
			margin-left: 200px;
		}

		/*Center Brand*/
		nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
			margin-left: 0px;
		}
		/*Center Brand*/
		nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
			text-align: center;
			width: 100%;
			margin-left: 0px;
		}

		/*Center Icons*/
		nav.sidebar a{
			padding-right: 13px;
		}

		/*adds border top to first nav box */
		nav.sidebar .navbar-nav > li:first-child{
			border-top: 1px #e5e5e5 solid;
		}

{#		/*adds border to bottom nav boxes*/#}
{#		nav.sidebar .navbar-nav > li{#}
{#			border-bottom: 1px #e5e5e5 solid;#}
{#		}#}



		/*allows nav box to use 100% width*/
		nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
			padding: 0 0px 0 0px;
		}

{#		/*colors dropdown box text */#}
{#		.navbar-default .navbar-nav .open .dropdown-menu>li>a {#}
{#			color: #777;#}
{#		}#}

		/*gives sidebar width/height*/
		nav.sidebar{
			width: 200px;
			height: 100%;
			margin-left: -160px;
            margin-top: 0px;
			float: left;
			z-index: 8000;
			margin-bottom: 0px;
            position: fixed;
		}

		/*give sidebar 100% width;*/
		nav.sidebar li {
			width: 100%;
		}

		/* Move nav to full on mouse over*/
		nav.sidebar:hover{
			margin-left: 0px;
		}
		/*for hiden things when navbar hidden*/
		.forAnimate{
			opacity: 0;
		}
	}

	/* .....NavBar: Fully showing nav bar..... */

	@media (min-width: 1330px) {

		/*Allow main to be next to Nav*/
		.main{
			width: calc(100% - 200px); /*keeps 100% minus nav size*/
			margin-left: 200px;
		}

		/*Show all nav*/
		nav.sidebar{
			margin-left: 0px;
			float: left;
		}
		/*Show hidden items on nav*/
		nav.sidebar .forAnimate{
			opacity: 1;
		}
	}

	nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #CCC;
		background-color: transparent;
	}

	nav:hover .forAnimate{
		opacity: 1;
	}
	section{
		padding-left: 15px;
	}
    #right_profile a:hover {
        background-color: transparent;
        color: rgb(44,63,81);
    }
</style>
 <script type="text/javascript">
        function htmlbodyHeightUpdate(){
		var height3 = $( window ).height()
		var height1 = $('.nav').height()+50
		height2 = $('.main').height()
		if(height2 > height3){
			$('html').height(Math.max(height1,height3,height2)+10);
			$('body').height(Math.max(height1,height3,height2)+10);
		}
		else
		{
			$('html').height(Math.max(height1,height3,height2));
			$('body').height(Math.max(height1,height3,height2));
		}

	}
	$(document).ready(function () {
		htmlbodyHeightUpdate()
		$( window ).resize(function() {
			htmlbodyHeightUpdate()
		});
		$( window ).scroll(function() {
			height2 = $('.main').height()
  			htmlbodyHeightUpdate()
		});
	});
  </script>