<nav class="cd-side-nav " style="background-image: url(http://sariinfo.com/wp-content/uploads/2016/05/Beautiful-Girl-Wallpapers-In-Simple-Beauty-1.jpg);opacity: .77;box-shadow: inset 0 0 0 1000px rgba(255, 0, 0, .7);">
    {% if request.user.is_authenticated %}
        <li class="cd-label">Main Modules</li>
        <ul>

            {% if perms.customers.add_customer %}
            <li class="has-children customer">
              <a href="">Customer</a>
              <ul>
                <li><a href='{% url "customer:create" %}'>Create Customer</a></li>
                <li><a href='{% url "customer:list" %}'>Customer List</a></li>
              </ul>
            </li>
            {% endif %}

        {% if perms.cars.add_car %}
        <li class="has-children car">
          <a href="">Vehicle</a>
          <ul>
            <li><a href='{% url "car:create" %}'>Create Vehicle</a></li>
            <li><a href='{% url "car:list" %}'>Vehicle List</a></li>
          </ul>
        </li>
        {% endif %}

        {% if perms.facilities.add_facilitie %}
        <li class="has-children  facility">
          <a href="">Facility</a>
          <ul>
            <li><a href='{% url "facility:create" %}'>Create Facility</a></li>
            <li><a href='{% url "facility:list" %}'>Facility List</a></li>
          </ul>
        </li>
        {% endif %}

        {% if perms.expense.add_expensecategory %}
        <li class="has-children category">
          <a href="">Expense Category</a>
          <ul>
            <li><a href='{% url "expense:create" %}'>Create Expense Category</a></li>
            <li><a href='{% url "expense:list" %}'>Expense Category List</a></li>
          </ul>
        </li>
        {% endif %}

        {% if perms.expense.add_expense %}
        <li class="has-children expense">
          <a href="">Expenses</a>
          <ul>
            <li><a href='{% url "expense:expense_create" %}'>Create Expense</a></li>
            <li><a href='{% url "expense:expense_list" %}'>Expenses List</a></li>
          </ul>
        </li>
        {% endif %}

        {% if perms.employee.add_employee %}
        <li class="has-children employee">
          <a href="">Employee</a>
          <ul>
            <li><a href='{% url "employee:create" %}'>Create Employee</a></li>
            <li><a href='{% url "employee:list" %}'>Employee List</a></li>
          </ul>
        </li>
        {% endif %}

        {% if perms.order.add_order %}
        <li class="has-children order">
          <a href="">Order</a>
          <ul>
            <li><a href='{% url "order:create" %}'>Order Create</a></li>
            <li><a href='{% url "order:list" %}'>Order List</a></li>
          </ul>
        </li>
        {% endif %}

        {% if request.user.is_superuser %}

            <li class="has-children report">
              <a href="">Reports</a>
              <ul>
                <li><a href='{% url "reports:sales_breakdown" %}'>Sales Breakdown</a></li>
                <li><a href='{% url "reports:car_count" %}'>Car Count</a></li>
                <li><a href='{% url "reports:expense" %}'>Expenses</a></li>
                <li><a href='{% url "reports:summary" %}'>Summary</a></li>
              </ul>
            </li>

            <li class="has-children message">
              <a href="">Quick Messages</a>
              <ul>
                <li><a href='{% url "messages:quick_message" %}'>Quick Message</a></li>
                <li><a href='{% url "messages:quick_message_templates_create" %}'>Message Template Create</a></li>
                <li><a href='{% url "messages:quick_message_templates_list" %}'>Message Template List</a></li>
                <li><a href='{% url "messages:quick_message_settings" %}'>Default Message Settings</a></li>
              </ul>
            </li>


        {% endif %}

        </ul>

    {% endif %}
</nav>
{#			<ul>#}
{#				<li class="cd-label">Main</li>#}
{#				<li class="has-children">#}
{#					<a href="#0">Overview</a>#}
{##}
{#					<ul>#}
{#						<li><a href="#0">All Data</a></li>#}
{#						<li><a href="#0">Category 1</a></li>#}
{#						<li><a href="#0">Category 2</a></li>#}
{#					</ul>#}
{#				</li>#}
{#				<li class="has-children notifications active">#}
{#					<a href="#0">Notifications<span class="count">3</span></a>#}
{##}
{#					<ul>#}
{#						<li><a href="#0">All Notifications</a></li>#}
{#						<li><a href="#0">Friends</a></li>#}
{#						<li><a href="#0">Other</a></li>#}
{#					</ul>#}
{#				</li>#}
{##}
{#				<li class="has-children comments">#}
{#					<a href="#0">Comments</a>#}
{##}
{#					<ul>#}
{#						<li><a href="#0">All Comments</a></li>#}
{#						<li><a href="#0">Edit Comment</a></li>#}
{#						<li><a href="#0">Delete Comment</a></li>#}
{#					</ul>#}
{#				</li>#}
{#			</ul>#}
{##}
{#			<ul>#}
{#				<li class="cd-label">Secondary</li>#}
{#				<li class="has-children bookmarks">#}
{#					<a href="#0">Bookmarks</a>#}
{##}
{#					<ul>#}
{#						<li><a href="#0">All Bookmarks</a></li>#}
{#						<li><a href="#0">Edit Bookmark</a></li>#}
{#						<li><a href="#0">Import Bookmark</a></li>#}
{#					</ul>#}
{#				</li>#}
{#				<li class="has-children images">#}
{#					<a href="#0">Images</a>#}
{##}
{#					<ul>#}
{#						<li><a href="#0">All Images</a></li>#}
{#						<li><a href="#0">Edit Image</a></li>#}
{#					</ul>#}
{#				</li>#}
{##}
{#				<li class="has-children users">#}
{#					<a href="#0">Users</a>#}
{##}
{#					<ul>#}
{#						<li><a href="#0">All Users</a></li>#}
{#						<li><a href="#0">Edit User</a></li>#}
{#						<li><a href="#0">Add User</a></li>#}
{#					</ul>#}
{#				</li>#}
{#			</ul>#}
{##}
{#			<ul>#}
{#				<li class="cd-label">Action</li>#}
{#				<li class="action-btn"><a href="#0">+ Button</a></li>#}
{#			</ul>#}
{#		</nav>#}