{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<button onclick="goBack()" class="btn btn-primary btn-xs">Go Back</button>
<center><h1>{{ title }}</h1></center>
<form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-primary" value="{{ title }}" />
</form>
<script type="text/javascript">
    function goBack() {
    window.history.back();
    }
    
    $('#id_facility').hide();
    $('#id_facility, label[for="id_facility"], input#id_facility').hide();



    if($('#id_category_wise').is(":checked")) {
                category_prices_show();
         $('#id_price').hide();
            $('#id_price, label[for="id_price"], input#id_price').hide();

        }else{
            console.log("ni hai ");
            $('#id_price').show();
            $('#id_price, label[for="id_price"], input#id_price').show();
            category_prices_hide();
        }

    $('#id_category_wise').change(function() {
        if($(this).is(":checked")) {
            $('#id_price').hide();
            $('#id_price, label[for="id_price"], input#id_price').hide();
            category_prices_show();

        }else{
            console.log("ni hai ");
            $('#id_price').show();
            $('#id_price, label[for="id_price"], input#id_price').show();
            category_prices_hide();
        }
    });
    function category_prices_show() {
        $('#id_small_vehicle_price,#id_medium_vehicle_price,#id_large_vehicle_price,#id_bike_vehicle_price').show();
        $('#id_small_vehicle_price, label[for="id_small_vehicle_price"], input#id_small_vehicle_price').show();
        $('#id_medium_vehicle_price, label[for="id_medium_vehicle_price"], input#id_medium_vehicle_price').show();
        $('#id_large_vehicle_price, label[for="id_large_vehicle_price"], input#id_large_vehicle_price').show();
        $('#id_bike_vehicle_price, label[for="id_bike_vehicle_price"], input#id_bike_vehicle_price').show();
    }
    function category_prices_hide() {
        $('#id_small_vehicle_price,#id_medium_vehicle_price,#id_large_vehicle_price,#id_bike_vehicle_price').hide();
        $('#id_small_vehicle_price, label[for="id_small_vehicle_price"], input#id_small_vehicle_price').hide();
        $('#id_medium_vehicle_price, label[for="id_medium_vehicle_price"], input#id_medium_vehicle_price').hide();
        $('#id_large_vehicle_price, label[for="id_large_vehicle_price"], input#id_large_vehicle_price').hide();
        $('#id_bike_vehicle_price, label[for="id_bike_vehicle_price"], input#id_bike_vehicle_price').hide();
    }



    </script>
{% endblock content %}