{% extends "base.html" %}
{% load variablefilter %}

{% load get_val_from_dict %}
{% load crispy_forms_tags %}

{% block content %}


    <div class="container" id="default_summary_report">
    <div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">

                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>

                <input id ="query" type="hidden" name="query" placeholder="Search Query" class="form-control" vaue="{{ request.GET.query }}"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Submit!</button>
                </span>
            </div>
        </form>
    </div>

    </div><br>
    <div >
      <h2>Profit & Loss <span class="badge" style="font-weight: normal"><span class="glyphicon glyphicon-calendar"></span> {{ start_date|date:"F j, Y" }} - {{ end_date|date:"F j, Y" }}</span>
      <button type="button" class="btn btn-primary btn-sm" id="comparison" style="float: right">Reports Comparison</button>
      </h2>
    </div>
<div id="default_report_table">
    <div id="clone_summary_header">
        <span class="badge" style="font-weight: normal"><span class="glyphicon glyphicon-calendar"></span> {{ start_date|date:"F j, Y" }} - {{ end_date|date:"F j, Y" }}</span>
        <button type="button" class=" remove btn btn-danger btn-xs" style="float: right">Remove</button>

    </div>
  <table class="table table-condensed" >
    <thead>
    <tr style="background-color: blue;color: white;">
        <th>Income</th>
        <th></th>
        <th colspan="2"></th>
    </tr>
    <tr style="background-color: grey;color: white;">
        <th>Sales Revenue</th>
        <th>Sale</th>
        <th colspan="2">% of sales</th>
      </tr>
    </thead>

    <tbody>
          {% for name, data in sales_revenue.items%}
                <tr>
                    {% if not data.total == 0 %}
                        <td>{{ name }}</td>
                        <td>{{ data.total }}</td>
                        <td colspan="2">{{ data.over_all_percentage }} %</td>
                    {% else %}
                        <td>{{ name }}</td>
                        <td>{{ data.total }}</td>
                        <td colspan="2">0 %</td>
                    {% endif %}
                 </tr>
          {% endfor %}
            <tr style="background-color: grey;color: white">
                <td>Total Income</td>
                <td>{{ over_all_g_total_total }}</td>
                {% if not over_all_g_total_total == 0 %}
                    <td colspan="2">100.00 %</td>
                {% else %}
                     <td colspan="2">0 %</td>
                {% endif %}
    </tbody>
  <tr><td colspan="4"></td></tr>
{#  expense#}
  <thead>
    <tr style="background-color: blue;color: white;">
        <th colspan="4">Expenses</th>
    </tr>
    <tr style="background-color: grey;color: white;">
        <th>All type of expenses</th>
        <th>Cost</th>
        <th>% of Cost</th>
        <th>% of Sale</th>
      </tr>
    </thead>

    <tbody>
    {% for single_lagend_expense_Category_name in lagend_expense_categories %}
        {% if single_lagend_expense_Category_name in expense_data %}
            {% with expense_category=expense_data|get:single_lagend_expense_Category_name %}
                <tr>
                    <td>{{ single_lagend_expense_Category_name }}</td>
                    <td>{{ expense_category.total }}</td>
                    <td>{{ expense_category.over_all_expense_percentage }} %</td>
                    <td>{{ expense_category.over_all_expense_percentage_of_sales }} %</td>
                 </tr>
            {% endwith %}

        {% else %}
            <tr>
                <td>{{ single_lagend_expense_Category_name }}</td>
                <td>0</td>
                <td>0 %</td>
                <td>0 %</td>
             </tr>
        {% endif %}
    {% endfor %}

    <tr style="background-color: grey;color: white">
        <td>Total Cost</td>
        <td>{{ expense_grand_total }}</td>
        {% if not expense_grand_total == 0 %}
             <td>100.00 %</td>
             <td>{{ total_expense_percentage_sale }} %</td>
        {% else %}
             <td>0 %</td>
             <td>0 %</td>
        {% endif %}

    </tr>
    <tr><td colspan="4"></td></tr>

    </tbody>
        {% if net_calculations.result.total_value %}
            {% if net_calculations.result.data_summary == 'Net Loss' %}
            <tr style="background-color: brown;color: white">
                <th>{{ net_calculations.result.data_summary }}</th>
                <th>- {{ net_calculations.result.total_value }}</th>
                <th>{{ net_calculations.result.value_in_percentage }} %</th>
                <th></th>
            </tr>
            {% else %}
                <tr style="background-color: #5BC780;color: white">
                <th>{{ net_calculations.result.data_summary }}</th>
                <th>{{ net_calculations.result.total_value }}</th>
                <th>{{ net_calculations.result.value_in_percentage }} %</th>
                <th></th>
            </tr>
            {% endif %}
        {% else %}
            <tr style="background-color: #428BCA;color: white">
                <th colspan="4"><center>No Result Found</center></th>
            </tr>
        {% endif %}
  </table>
</div>
</div>

    <div class="container" id="comparison_summary_report">
        <h2>Summary Reports Comparison
            <div style="float: right">
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" id="addMoreButton">Add More</button>
                <button type="button" class="btn btn-default btn-sm" id="back_default">Back To Summary</button>
            </div>
        </h2>
        <br>
         <div class="row" id="add_reports"></div>

            <div class="moving-zone" id="no_reports_selected">
                <div class="popup">
                    <div class="popup-content">
                        <div class="popup-text">
                            No <b>Report</b>,<br/>
                            Selected <b>Yet</b> !!<br/>
                            <button type="button" class="btn btn-xs" data-toggle="modal" data-target="#myModal" style="background-color: rgb(248,124,78)">Add Report</button>
                        </div>
                    </div>
                </div>
            </div>
        <!-- get date range modal  -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog modal-md">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Select Date Range</h4>
                </div>
                <div class="modal-body">
                 <div id="reportrange_comparison" class="pull-right" style="background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                     <input id ="compare_date" type="hidden" class="form-control"/>
                </div>
                    <br><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="compare_date_select" data-dismiss="modal">Submit</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

    <script type="text/javascript">

    $( document ).ready(function() {
        date_range_picker();
        buttons_control();
        date_range_picker_comparison();
        get_clone_reports();

        not_found_animated();

        $('#addMoreButton').hide();

        $("body").on("click", ".remove", function () {
            $(this).closest("div .col-sm-4").remove();
        });

        $('#add_reports').bind("DOMSubtreeModified",function(){
            if ($('div .col-sm-4').length > 0) {
                $('#no_reports_selected').hide();
                $('#addMoreButton').show();
            }
            if($('div .col-sm-4').length == 0){
                $('#no_reports_selected').show();
                $('#addMoreButton').hide();
            }
        });

    });

    function date_range_picker() {
        $(function() {
    var start = moment().startOf('month');
    var end = moment().endOf('month');

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#query').val(start.format('YYYY,MM,D') + '!' + end.format('YYYY,MM,D')).trigger('change');

    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

        });
    }

    function buttons_control() {

        $('#back_default').hide();
        $('#comparison_summary_report').hide();
        $('#clone_summary_header').hide();

        $('#comparison').click(function(){
        $('#default_summary_report').hide();
        $('#comparison_summary_report').show();
        $('#comparison').hide();
        $('#back_default').show();
        $('#clone_summary_header').show();

        });

        $('#back_default').click(function(){
        $('#default_summary_report').show();
        $('#comparison_summary_report').hide();
        $('#back_default').hide();
        $('#comparison').show();
        $('#clone_summary_header').hide();

        });
    }

    function get_clone_reports() {

        $('#compare_date_select').on('click',function () {
            var select_date_range = $('#compare_date').val().replace(/,/g,"%2C").replace(/!/g,"%21");
            $("#add_reports").append($("<div class='col-sm-4'>").load(main_url + '/reports/summary/?query='+ select_date_range +' #default_report_table'));
        });

    }

    function date_range_picker_comparison() {
        $(function() {
    var start = moment().startOf('month');
    var end = moment().endOf('month');

    function cb(start, end) {
        $('#reportrange_comparison span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#compare_date').val(start.format('YYYY,MM,D') + '!' + end.format('YYYY,MM,D')).trigger('change');
    }

    $('#reportrange_comparison').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

        });
    }

    function not_found_animated() {
        var moveForce = 30; // max popup movement in pixels
        var rotateForce = 20; // max popup rotation in deg

        $(document).mousemove(function(e) {
            var docX = $(document).width();
            var docY = $(document).height();

            var moveX = (e.pageX - docX/2) / (docX/2) * -moveForce;
            var moveY = (e.pageY - docY/2) / (docY/2) * -moveForce;

            var rotateY = (e.pageX / docX * rotateForce*2) - rotateForce;
            var rotateX = -((e.pageY / docY * rotateForce*2) - rotateForce);

            $('.popup')
                .css('left', moveX+'px')
                .css('top', moveY+'px')
                .css('transform', 'rotateX('+rotateX+'deg) rotateY('+rotateY+'deg)');
        });
    }
</script>

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<style>
table {
    font-size: 0.8em;
    style: 600px;
}

td {
    border: 1px solid AppWorkspace;
    margin: 0;
    padding: 3px;
}
@media (max-width: 768px) {
    #reportrange {
        font-weight: lighter;
    }
}
@media (max-width: 375px) {
    #reportrange {
        font-size: small;
    }
}

.moving-zone {
    position: absolute;
    top:50%; left:50%;
    width:300px; height:120px;
    margin: -60px 0 0 -150px;
    perspective: 800px;
}
.popup {
    position: absolute;
    width:300px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px 0 20px 0;
    cursor: pointer;
    transform-style: preserve-3d;
    background: -webkit-linear-gradient(top left, white 50%, coral 50%);
    background:    -moz-linear-gradient(top left, white 50%, coral 50%);
    background:     -ms-linear-gradient(top left, white 50%, coral 50%);
    background:      -o-linear-gradient(top left, white 50%, coral 50%);
    background:         linear-gradient(top left, white 50%, coral 50%);
}
.popup:before {
    content: '';
    position: absolute;
    left:5%; top:5%;
    width:90%; height:90%;
    border-radius: inherit;
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 40px 20px rgba(0,0,0,.1);
    transform: translateZ(-100px);
}
.popup-content {
    background: #444;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px 0 10px 0;
}
.popup-text {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 100;
    text-align: center;
    transform: translateZ(15px);
}
.popup-text b {
    color: coral;
    font-weight: 300;
}
</style>

{% endblock content %}