<header class="cd-main-header" style="z-index: 5">
		<a href="#0" class="cd-logo"><img src="img/cd-logo.svg" alt="Logo"></a>

		<a href="#0" class="cd-nav-trigger">Menu<span></span></a>

		<nav class="cd-nav">
			<ul class="cd-top-nav">
                {% if request.user.is_authenticated %}
                    <li class="has-children account">
					<a href="#0">
						<img src="img/cd-avatar.png" alt="avatar">
                        {% if request.user.is_staff and not request.user.is_superuser%}
                            Manager
                        {% endif %}
                        {% if request.user.is_superuser %}
                            Admin
                        {% endif %}
					</a>

					<ul style="list-style: none">
                        <br>
                        <center><p style="color: white"><strong>{{request.user.first_name}} {{request.user.last_name}}</strong></p>
                                <p style="color: white">{{request.user.email}}</p>
                                {% if request.user.is_superuser %}
                                    <a type="button" href="{% url 'admin:index' %}" class="btn btn-primary btn-md">Admin Panel</a>
                                {% endif %}
                        </center>

						<a href='{% url "auth_logout" %}' class="btn btn-danger btn-block"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
					</ul>
				</li>
                {% else %}
                    <ul class="cd-top-nav">
                    <li><a href='{% url "auth_login" %}'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                {% endif %}

			</ul>
		</nav>
	</header> <!-- .cd-main-header -->

