{% extends "base.html" %}
{% load variablefilter %}
{% load get_val_from_dict %}
{% load crispy_forms_tags %}


{% block content %}
{#    <center><h1>Report Sales Breakdown</h1></center><br>#}

    <div class="row">

    <div class="col-sm-6 col-sm-offset-3">
        <form method="get" action="">
            <div class="input-group">

                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 6px 10px; border: 1px solid #ccc; width: 100%">
                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                    <span></span> <b class="caret"></b>
                </div>

                <input id ="query" type="hidden" name="query" placeholder="Search Query" class="form-control" vaue="{{ request.GET.query }}"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Submit!</button>
                </span>
            </div>
        </form>
    </div>

    </div><br>

 <h2>My Sales Report <span class="badge" style="font-weight: normal"><span class="glyphicon glyphicon-calendar"></span> {{ start_date|date:"F j, Y" }} - {{ end_date|date:"F j, Y" }}</span></h2>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#charts">Sales Breakdown Data Charts</a></li>
        <li ><a data-toggle="tab" href="#data_sheet">Sales Breakdown Data Sheet</a></li>
    </ul>

    <div class="tab-content">
        <div id="data_sheet" class="tab-pane fade">
            <br>
{#            --------------------- xcel sheet -----------------#}

            <div class="table-responsive">
<table class="table table-bordered table-condensed" style="overflow-x: scroll;white-space: nowrap;">
    <thead>
    <tr>
        <th></th>
        {% for key, value in legend.items %}
            <th colspan="{% widthratio value.sub|length 1 4 %}"><center>{{value.facility_name}}</center></th>
            <th></th>

        {% endfor %}
    <th><strong>G-Total</strong></th>

    </tr>

    <tr>
        <th></th>
        {% for key, value in legend.items %}
            {% for sub_fac in value.sub %}
                <th colspan="4"><center>{{sub_fac.sub_facility_name}}</center></th>
            {% endfor %}
            <th></th>
        {% endfor %}
    <th></th>
    </tr>

     <tr>
        <th><center><strong>Date</strong></center></th>
        {% for key, value in legend.items %}
            {% for sub_fac in value.sub %}
                {% for sub_cat in sub_fac.categories %}
                    <th >{{sub_cat.name}}</th>
                {% endfor %}

            {% endfor %}
             <th style="color: brown;">F-T</th>
        {% endfor %}
    <th style="color: brown;">F-G-T</th>
    </tr>
    </thead>

    <tbody>

    <!--repetitions of resulting rows with date here-->
        {% for single_data_array in data %}
            {% for date, single_data_dic in single_data_array.items %}
                <tr>
                    <td><strong>{{date}}</strong></td>
                    {% for key, lagend_facility in legend.items %}
                        {% set match_lagend_and_orignal_facility = 'no' %}
                        {% for single_facility in single_data_dic.facilities %}

                            {% if lagend_facility.facility_name == single_facility.facility_name %}

                                {% for lagend_sub_fac in lagend_facility.sub %}
                                    {% set match_sub_fac_of_lagend_And_orignal = 'no' %}

                                    {% for sub_facilities in single_facility.facility_data %}
                                        {% if lagend_sub_fac.sub_facility_name == sub_facilities.sub_fac_name %}
                                            {% for category in sub_facilities.category %}
                                                <td >{{category.total_price}}</td>
                                            {% endfor %}
                                            {% set match_sub_fac_of_lagend_And_orignal = 'yes' %}
                                        {% endif %}

                                        {% if forloop.last %}
                                            {% ifequal match_sub_fac_of_lagend_And_orignal 'no' %}
                                                <td >0</td>
                                                <td >0</td>
                                                <td >0</td>
                                                <td >0</td>
                                            {% endifequal %}

                                        {% endif %}

                                    {%  endfor %}
                                {% endfor %}
                                {% set match_lagend_and_orignal_facility = 'yes' %}
                            {% endif %}

                            {% if forloop.last %}
                                {% ifequal match_lagend_and_orignal_facility 'no' %}
                            {% for l_s in lagend_facility.sub %}
                                        <td >0</td>
                                        <td >0</td>
                                        <td >0</td>
                                        <td >0</td>
                            {% endfor %}
                        {% endifequal %}
                            {% endif %}

                        {% endfor %}

                        {% for single_facility in single_data_dic.facilities %}
                            {% set match_gt = 'no' %}
                            {% if lagend_facility.facility_name == single_facility.facility_name %}
                                {% set f_g_t = single_facility.facility_grand_total %}
                            {% endif %}

                            {% if forloop.last %}
                                {% if f_g_t %}
                                    <td style="background: brown; color: white">{{ f_g_t }}</td>
                                {% else %}
                                    <td style="background: brown; color: white">0</td>
                                {% endif %}
                            {% endif %}

                        {% endfor %}

                    {% endfor %}
                    <td style="background-color: black; color: white">{{ single_data_dic.grand_total_per_day }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
{#    ---------------------------------------#}
{#-------------------------------------#}
{#    --------------------------------#}


    <tr style="background-color: brown; color: white">
        <td style="background-color: #428BCA"><strong>Total</strong></td>
        {% for key, lagend_facility in legend.items %}
            {% set match_lagend_and_orignal_facility1 = 'no' %}
            {% for fac_name, single_facility in overall_grand_total.items %}

                {% if lagend_facility.facility_name == fac_name %}
                    {% for lagend_sub_fac in lagend_facility.sub %}
                        {% if lagend_sub_fac.sub_facility_id in single_facility %}
                            {% with var=single_facility|get:lagend_sub_fac.sub_facility_id %}
                                {% for category in var.category %}
                                    <td >{{category.total_price}}</td>
                                {% endfor %}
                            {% endwith %}

                        {% else %}
                            <td >0</td>
                            <td >0</td>
                            <td >0</td>
                            <td >0</td>
                        {% endif %}
                    {% endfor %}
                    {% set match_lagend_and_orignal_facility1 = 'yes' %}
                {% endif %}
{#do something if facility is not found#}


            {% endfor %}

            {% if lagend_facility.facility_name in overall_grand_total %}
                            {% with facility=overall_grand_total|get:lagend_facility.facility_name %}
                                <td style="background-color: black">{{ facility.overall_fac_grand_total }}</td>
                            {% endwith %}

                        {% else %}
                            <td >0</td>

                        {% endif %}

        {% endfor %}
    <td style="background-color: #5BC780">{{ overall_grand_total_total }}</td>
    </tr>

    </tbody>
</table>
</div>

{#            ---------------------------------------------------#}
        </div>
        <div id="charts" class="tab-pane fade in active">
            <br>
            <div id="sales_break_down_chart"></div>

            <br>
            <div class="row">
                <div class="col-md-6">
                    <div id="facility_chart"></div>
                </div>
                <div class="col-md-6">
                    <div id="sub_facility_chart"></div>
                </div>

            </div>


        </div>
    </div>

<script type="text/javascript">
$( document ).ready(function() {
   facility_pie_chart();
    sub_facility_pie_chart();
    sale_breakdown_per_day();
    date_range_picker();
});

function facility_pie_chart() {
        var pie_chart_data = "{{ facility_pie_chart_data }}";
        var string_pie_chart_data = pie_chart_data.replace(/&#39;/g, '"');
        var dataPoints = JSON.parse(string_pie_chart_data);

        var fac_pie_data_dic = [];
        $.each(dataPoints, function (index, value) {
            fac_pie_data_dic.push([value.facility_name, value.price]);
        });

        var chart = c3.generate({
            bindto: '#facility_chart',

            data: {
                // iris data from R
                columns: fac_pie_data_dic,
                type: 'pie',
            }
        });
    }

    function sub_facility_pie_chart(){
        var pie_chart_data = "{{ sub_facility_pie_chart_data }}";
        var string_pie_chart_data = pie_chart_data.replace(/&#39;/g, '"');
        var dataPoints = JSON.parse(string_pie_chart_data);

        var fac_pie_data_dic = [];
        $.each(dataPoints, function (index, value) {
            fac_pie_data_dic.push([value.sub_facility_name, value.total_price]);
        });

        var chart = c3.generate({
            bindto: '#sub_facility_chart',

            data: {
                // iris data from R
                columns: fac_pie_data_dic,
                type: 'pie',
            }
        });
    }

    function sale_breakdown_per_day() {
        var pie_chart_data = "{{ sales_per_day }}";
        var string_pie_chart_data = pie_chart_data.replace(/&#39;/g, '"');
        var dataPoints = JSON.parse(string_pie_chart_data);

        var chart = c3.generate({
            bindto: '#sales_break_down_chart',
        data: {
            x : 'x',
            columns: dataPoints,
            type: 'spline'
        },
        axis: {
            x: {
                type: 'category' // this needed to load string x value
            }
        }
    });
    }

    function date_range_picker() {
        $(function() {

{#    var start = moment().subtract(29, 'days');#}
{#    var end = moment();#}

    var start = moment().startOf('month');
    var end = moment().endOf('month');

    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $('#query').val(start.format('YYYY,MM,D') + '!' + end.format('YYYY,MM,D')).trigger('change');

    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);

});
    }

</script>

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<style>
    table {
        border: AppWorkspace solid 1px;
        font-size: 0.8em;
        text-align: center;
        border-collapse:collapse;
        style: 600px;
    }

    tr.header{
        font-weight: bold;
        background-color: #ffffef
    }

    td {
        border: 1px solid AppWorkspace;
        margin: 0;
        padding: 3px;
    }

    @media (max-width: 768px) {
        #reportrange {
            font-weight: lighter;
        }
    }
    @media (max-width: 375px) {
        #reportrange {
            font-size: small;
        }
    }

</style>


{% endblock content %}