{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
<p>{% trans "Enter your new password below to reset your password:" %}</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="{% trans 'Set password' %}" />
</form>
      </div>
    </div>
{% endblock %}


{# This is used by django.contrib.auth #}
